jp.go.nict.langrid.client.ws_1_2/wsdls/AgricultureVideoService.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ymcviet.net/ymc-service/services/AgricultureVideoService" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ymcviet.net/ymc-service/services/AgricultureVideoService" xmlns:intf="http://ymcviet.net/ymc-service/services/AgricultureVideoService" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://agrigrid.pangaea.org/ws/video/" xmlns:tns2="http://langrid.nict.go.jp/ws_1_2/" xmlns:tns3="http://agrigrid.pangaea.org/ws/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDLはApache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)によって生成されました / [en]-(WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT))-->
 <wsdl:types>
  <schema targetNamespace="http://agrigrid.pangaea.org/ws/video/" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://agrigrid.pangaea.org/ws/"/>
   <import namespace="http://ymcviet.net/ymc-service/services/AgricultureVideoService"/>
   <import namespace="http://langrid.nict.go.jp/ws_1_2/"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="Subtitle">
    <sequence>
     <element name="startMillis" type="xsd:long"/>
     <element name="text" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="VideoEntry">
    <sequence>
     <element name="captions" nillable="true" type="impl:ArrayOf_tns3_Caption"/>
     <element name="copyright" nillable="true" type="xsd:string"/>
     <element name="createdAt" nillable="true" type="xsd:dateTime"/>
     <element name="fileName" nillable="true" type="xsd:string"/>
     <element name="license" nillable="true" type="xsd:string"/>
     <element name="subtitleLanguages" nillable="true" type="impl:ArrayOf_xsd_string"/>
     <element name="tags" nillable="true" type="impl:ArrayOf_xsd_string"/>
     <element name="updatedAt" nillable="true" type="xsd:dateTime"/>
     <element name="url" nillable="true" type="xsd:string"/>
     <element name="videoId" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="http://ymcviet.net/ymc-service/services/AgricultureVideoService" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://agrigrid.pangaea.org/ws/"/>
   <import namespace="http://agrigrid.pangaea.org/ws/video/"/>
   <import namespace="http://langrid.nict.go.jp/ws_1_2/"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_tns1_Subtitle">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:Subtitle[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_xsd_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns3_Order">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns3:Order[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns3_Caption">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns3:Caption[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns1_VideoEntry">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:VideoEntry[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns3_Category">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns3:Category[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="http://langrid.nict.go.jp/ws_1_2/" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://agrigrid.pangaea.org/ws/"/>
   <import namespace="http://ymcviet.net/ymc-service/services/AgricultureVideoService"/>
   <import namespace="http://agrigrid.pangaea.org/ws/video/"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="LangridException">
    <sequence>
     <element name="description" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="InvalidParameterException">
    <complexContent>
     <extension base="tns2:LangridException">
      <sequence>
       <element name="parameterName" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ProcessFailedException">
    <complexContent>
     <extension base="tns2:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="http://agrigrid.pangaea.org/ws/" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://ymcviet.net/ymc-service/services/AgricultureVideoService"/>
   <import namespace="http://agrigrid.pangaea.org/ws/video/"/>
   <import namespace="http://langrid.nict.go.jp/ws_1_2/"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="Order">
    <sequence>
     <element name="direction" nillable="true" type="xsd:string"/>
     <element name="fieldName" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Caption">
    <sequence>
     <element name="language" nillable="true" type="xsd:string"/>
     <element name="text" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Category">
    <sequence>
     <element name="categoryId" nillable="true" type="xsd:string"/>
     <element name="categoryName" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getSubtitlesResponse">

      <wsdl:part name="getSubtitlesReturn" type="impl:ArrayOf_tns1_Subtitle"/>

   </wsdl:message>

   <wsdl:message name="searchVideosResponse">

      <wsdl:part name="searchVideosReturn" type="impl:ArrayOf_tns1_VideoEntry"/>

   </wsdl:message>

   <wsdl:message name="getCategoryNamesResponse">

      <wsdl:part name="getCategoryNamesReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="getSupportedLanguagesResponse">

      <wsdl:part name="getSupportedLanguagesReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="InvalidParameterException">

      <wsdl:part name="fault" type="tns2:InvalidParameterException"/>

   </wsdl:message>

   <wsdl:message name="getCategoryNamesRequest">

      <wsdl:part name="categoryId" type="xsd:string"/>

      <wsdl:part name="languages" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="ProcessFailedException">

      <wsdl:part name="fault" type="tns2:ProcessFailedException"/>

   </wsdl:message>

   <wsdl:message name="searchVideosRequest">

      <wsdl:part name="text" type="xsd:string"/>

      <wsdl:part name="textLanguage" type="xsd:string"/>

      <wsdl:part name="matchingMethod" type="xsd:string"/>

      <wsdl:part name="categoryIds" type="impl:ArrayOf_xsd_string"/>

      <wsdl:part name="orders" type="impl:ArrayOf_tns3_Order"/>

   </wsdl:message>

   <wsdl:message name="getThumbnailResponse">

      <wsdl:part name="getThumbnailReturn" type="xsd:base64Binary"/>

   </wsdl:message>

   <wsdl:message name="getSubtitlesRequest">

      <wsdl:part name="videoId" type="xsd:string"/>

      <wsdl:part name="language" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="listAllCategoriesRequest">

      <wsdl:part name="language" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getSupportedLanguagesRequest">

   </wsdl:message>

   <wsdl:message name="listAllCategoriesResponse">

      <wsdl:part name="listAllCategoriesReturn" type="impl:ArrayOf_tns3_Category"/>

   </wsdl:message>

   <wsdl:message name="getThumbnailRequest">

      <wsdl:part name="videoId" type="xsd:string"/>

   </wsdl:message>

   <wsdl:portType name="AgriCultureVideoService">

      <wsdl:operation name="getSubtitles" parameterOrder="videoId language">

         <wsdl:input message="impl:getSubtitlesRequest" name="getSubtitlesRequest"/>

         <wsdl:output message="impl:getSubtitlesResponse" name="getSubtitlesResponse"/>

         <wsdl:fault message="impl:InvalidParameterException" name="InvalidParameterException"/>

         <wsdl:fault message="impl:ProcessFailedException" name="ProcessFailedException"/>

      </wsdl:operation>

      <wsdl:operation name="getThumbnail" parameterOrder="videoId">

         <wsdl:input message="impl:getThumbnailRequest" name="getThumbnailRequest"/>

         <wsdl:output message="impl:getThumbnailResponse" name="getThumbnailResponse"/>

         <wsdl:fault message="impl:InvalidParameterException" name="InvalidParameterException"/>

         <wsdl:fault message="impl:ProcessFailedException" name="ProcessFailedException"/>

      </wsdl:operation>

      <wsdl:operation name="searchVideos" parameterOrder="text textLanguage matchingMethod categoryIds orders">

         <wsdl:input message="impl:searchVideosRequest" name="searchVideosRequest"/>

         <wsdl:output message="impl:searchVideosResponse" name="searchVideosResponse"/>

         <wsdl:fault message="impl:InvalidParameterException" name="InvalidParameterException"/>

         <wsdl:fault message="impl:ProcessFailedException" name="ProcessFailedException"/>

      </wsdl:operation>

      <wsdl:operation name="listAllCategories" parameterOrder="language">

         <wsdl:input message="impl:listAllCategoriesRequest" name="listAllCategoriesRequest"/>

         <wsdl:output message="impl:listAllCategoriesResponse" name="listAllCategoriesResponse"/>

         <wsdl:fault message="impl:ProcessFailedException" name="ProcessFailedException"/>

      </wsdl:operation>

      <wsdl:operation name="getCategoryNames" parameterOrder="categoryId languages">

         <wsdl:input message="impl:getCategoryNamesRequest" name="getCategoryNamesRequest"/>

         <wsdl:output message="impl:getCategoryNamesResponse" name="getCategoryNamesResponse"/>

         <wsdl:fault message="impl:InvalidParameterException" name="InvalidParameterException"/>

         <wsdl:fault message="impl:ProcessFailedException" name="ProcessFailedException"/>

      </wsdl:operation>

      <wsdl:operation name="getSupportedLanguages">

         <wsdl:input message="impl:getSupportedLanguagesRequest" name="getSupportedLanguagesRequest"/>

         <wsdl:output message="impl:getSupportedLanguagesResponse" name="getSupportedLanguagesResponse"/>

         <wsdl:fault message="impl:ProcessFailedException" name="ProcessFailedException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AgricultureVideoServiceSoapBinding" type="impl:AgriCultureVideoService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getSubtitles">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSubtitlesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://video.agriculture.service.agrigrid.pangaea.org" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getSubtitlesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ymcviet.net/ymc-service/services/AgricultureVideoService" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="InvalidParameterException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InvalidParameterException" namespace="http://ymcviet.net/ymc-service/services/AgricultureVideoService" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ProcessFailedException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProcessFailedException" namespace="http://ymcviet.net/ymc-service/services/AgricultureVideoService" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getThumbnail">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getThumbnailRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://video.agriculture.service.agrigrid.pangaea.org" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getThumbnailResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ymcviet.net/ymc-service/services/AgricultureVideoService" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="InvalidParameterException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InvalidParameterException" namespace="http://ymcviet.net/ymc-service/services/AgricultureVideoService" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ProcessFailedException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProcessFailedException" namespace="http://ymcviet.net/ymc-service/services/AgricultureVideoService" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="searchVideos">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchVideosRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://video.agriculture.service.agrigrid.pangaea.org" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="searchVideosResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ymcviet.net/ymc-service/services/AgricultureVideoService" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="InvalidParameterException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InvalidParameterException" namespace="http://ymcviet.net/ymc-service/services/AgricultureVideoService" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ProcessFailedException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProcessFailedException" namespace="http://ymcviet.net/ymc-service/services/AgricultureVideoService" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="listAllCategories">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listAllCategoriesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://video.agriculture.service.agrigrid.pangaea.org" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="listAllCategoriesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ymcviet.net/ymc-service/services/AgricultureVideoService" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProcessFailedException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProcessFailedException" namespace="http://ymcviet.net/ymc-service/services/AgricultureVideoService" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getCategoryNames">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCategoryNamesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://video.agriculture.service.agrigrid.pangaea.org" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getCategoryNamesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ymcviet.net/ymc-service/services/AgricultureVideoService" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="InvalidParameterException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InvalidParameterException" namespace="http://ymcviet.net/ymc-service/services/AgricultureVideoService" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ProcessFailedException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProcessFailedException" namespace="http://ymcviet.net/ymc-service/services/AgricultureVideoService" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getSupportedLanguages">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSupportedLanguagesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://video.agriculture.service.agrigrid.pangaea.org" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getSupportedLanguagesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ymcviet.net/ymc-service/services/AgricultureVideoService" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProcessFailedException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProcessFailedException" namespace="http://ymcviet.net/ymc-service/services/AgricultureVideoService" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AgriCultureVideoServiceService">

      <wsdl:port binding="impl:AgricultureVideoServiceSoapBinding" name="AgricultureVideoService">

         <wsdlsoap:address location="http://ymcviet.net/ymc-service/services/AgricultureVideoService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>