jp.go.nict.langrid.client.ws_1_2/wsdls/Dictionary.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://localhost:8080/wrapper-mock-1.2/services/Dictionary" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://localhost:8080/wrapper-mock-1.2/services/Dictionary" xmlns:intf="http://localhost:8080/wrapper-mock-1.2/services/Dictionary" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://langrid.nict.go.jp/ws_1_2/dictionary/" xmlns:tns2="http://langrid.nict.go.jp/ws_1_2/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema targetNamespace="http://localhost:8080/wrapper-mock-1.2/services/Dictionary" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://langrid.nict.go.jp/ws_1_2/dictionary/"/>
   <import namespace="http://langrid.nict.go.jp/ws_1_2/"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_xsd_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="http://langrid.nict.go.jp/ws_1_2/dictionary/" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://langrid.nict.go.jp/ws_1_2/"/>
   <import namespace="http://localhost:8080/wrapper-mock-1.2/services/Dictionary"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="LemmaNode">
    <sequence>
     <element name="conceptNodes" nillable="true" type="impl:ArrayOf_xsd_string"/>
     <element name="domain" nillable="true" type="xsd:string"/>
     <element name="headWord" nillable="true" type="xsd:string"/>
     <element name="language" nillable="true" type="xsd:string"/>
     <element name="nodeId" nillable="true" type="xsd:string"/>
     <element name="partOfSpeech" nillable="true" type="xsd:string"/>
     <element name="pronounciation" nillable="true" type="xsd:string"/>
     <element name="relations" nillable="true" type="impl:ArrayOf_xsd_string"/>
    </sequence>
   </complexType>
   <complexType name="NodeNotFoundException">
    <complexContent>
     <extension base="tns2:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ConceptNode">
    <sequence>
     <element name="gloss" nillable="true" type="xsd:string"/>
     <element name="nodeId" nillable="true" type="xsd:string"/>
     <element name="relations" nillable="true" type="impl:ArrayOf_xsd_string"/>
     <element name="synset" nillable="true" type="impl:ArrayOf_xsd_string"/>
     <element name="usageExamples" nillable="true" type="impl:ArrayOf_xsd_string"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="http://langrid.nict.go.jp/ws_1_2/" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://langrid.nict.go.jp/ws_1_2/dictionary/"/>
   <import namespace="http://localhost:8080/wrapper-mock-1.2/services/Dictionary"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="LangridException">
    <sequence>
     <element name="description" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="AccessLimitExceededException">
    <complexContent>
     <extension base="tns2:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="InvalidParameterException">
    <complexContent>
     <extension base="tns2:LangridException">
      <sequence>
       <element name="parameterName" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="UnsupportedLanguagePairException">
    <complexContent>
     <extension base="tns2:InvalidParameterException">
      <sequence>
       <element name="language1" nillable="true" type="xsd:string"/>
       <element name="language2" nillable="true" type="xsd:string"/>
       <element name="parameterName1" nillable="true" type="xsd:string"/>
       <element name="parameterName2" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="LanguagePairNotUniquelyDecidedException">
    <complexContent>
     <extension base="tns2:InvalidParameterException">
      <sequence>
       <element name="candidates" nillable="true" type="impl:ArrayOf_xsd_string"/>
       <element name="message" nillable="true" type="xsd:string"/>
       <element name="parameterName1" nillable="true" type="xsd:string"/>
       <element name="parameterName2" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="NoAccessPermissionException">
    <complexContent>
     <extension base="tns2:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ProcessFailedException">
    <complexContent>
     <extension base="tns2:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ServerBusyException">
    <complexContent>
     <extension base="tns2:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ServiceNotActiveException">
    <complexContent>
     <extension base="tns2:LangridException">
      <sequence>
       <element name="serviceId" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ServiceNotFoundException">
    <complexContent>
     <extension base="tns2:LangridException">
      <sequence>
       <element name="serviceId" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="NoValidEndpointsException">
    <complexContent>
     <extension base="tns2:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ServiceConfigurationException">
    <complexContent>
     <extension base="tns2:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="UnknownException">
    <complexContent>
     <extension base="tns2:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getConceptResponse">

      <wsdl:part name="getConceptReturn" type="tns1:ConceptNode"/>

   </wsdl:message>

   <wsdl:message name="getConceptRequest">

      <wsdl:part name="conceptNodeId" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="ServerBusyException">

      <wsdl:part name="fault" type="tns2:ServerBusyException"/>

   </wsdl:message>

   <wsdl:message name="ServiceNotActiveException">

      <wsdl:part name="fault" type="tns2:ServiceNotActiveException"/>

   </wsdl:message>

   <wsdl:message name="NoAccessPermissionException">

      <wsdl:part name="fault" type="tns2:NoAccessPermissionException"/>

   </wsdl:message>

   <wsdl:message name="LanguagePairNotUniquelyDecidedException">

      <wsdl:part name="fault" type="tns2:LanguagePairNotUniquelyDecidedException"/>

   </wsdl:message>

   <wsdl:message name="UnsupportedLanguagePairException">

      <wsdl:part name="fault" type="tns2:UnsupportedLanguagePairException"/>

   </wsdl:message>

   <wsdl:message name="NodeNotFoundException">

      <wsdl:part name="fault" type="tns1:NodeNotFoundException"/>

   </wsdl:message>

   <wsdl:message name="ProcessFailedException">

      <wsdl:part name="fault" type="tns2:ProcessFailedException"/>

   </wsdl:message>

   <wsdl:message name="ServiceNotFoundException">

      <wsdl:part name="fault" type="tns2:ServiceNotFoundException"/>

   </wsdl:message>

   <wsdl:message name="InvalidParameterException">

      <wsdl:part name="fault" type="tns2:InvalidParameterException"/>

   </wsdl:message>

   <wsdl:message name="NoValidEndpointsException">

      <wsdl:part name="fault" type="tns2:NoValidEndpointsException"/>

   </wsdl:message>

   <wsdl:message name="searchLemmaNodesRequest">

      <wsdl:part name="headLang" type="xsd:string"/>

      <wsdl:part name="lemmaLang" type="xsd:string"/>

      <wsdl:part name="headWord" type="xsd:string"/>

      <wsdl:part name="pronounciation" type="xsd:string"/>

      <wsdl:part name="partOfSpeech" type="xsd:string"/>

      <wsdl:part name="matchingMethod" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="AccessLimitExceededException">

      <wsdl:part name="fault" type="tns2:AccessLimitExceededException"/>

   </wsdl:message>

   <wsdl:message name="ServiceConfigurationException">

      <wsdl:part name="fault" type="tns2:ServiceConfigurationException"/>

   </wsdl:message>

   <wsdl:message name="UnknownException">

      <wsdl:part name="fault" type="tns2:UnknownException"/>

   </wsdl:message>

   <wsdl:message name="getLemmaRequest">

      <wsdl:part name="lemmaNodeId" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getLemmaResponse">

      <wsdl:part name="getLemmaReturn" type="tns1:LemmaNode"/>

   </wsdl:message>

   <wsdl:message name="searchLemmaNodesResponse">

      <wsdl:part name="searchLemmaNodesReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:portType name="Dictionary">

      <wsdl:operation name="getLemma" parameterOrder="lemmaNodeId">

         <wsdl:input message="impl:getLemmaRequest" name="getLemmaRequest"/>

         <wsdl:output message="impl:getLemmaResponse" name="getLemmaResponse"/>

         <wsdl:fault message="impl:ServerBusyException" name="ServerBusyException"/>

         <wsdl:fault message="impl:NoAccessPermissionException" name="NoAccessPermissionException"/>

         <wsdl:fault message="impl:AccessLimitExceededException" name="AccessLimitExceededException"/>

         <wsdl:fault message="impl:ServiceNotActiveException" name="ServiceNotActiveException"/>

         <wsdl:fault message="impl:ServiceNotFoundException" name="ServiceNotFoundException"/>

         <wsdl:fault message="impl:ProcessFailedException" name="ProcessFailedException"/>

         <wsdl:fault message="impl:NodeNotFoundException" name="NodeNotFoundException"/>

         <wsdl:fault message="impl:InvalidParameterException" name="InvalidParameterException"/>

         <wsdl:fault message="impl:ServiceConfigurationException" name="ServiceConfigurationException"/>

         <wsdl:fault message="impl:UnknownException" name="UnknownException"/>

      </wsdl:operation>

      <wsdl:operation name="searchLemmaNodes" parameterOrder="headLang lemmaLang headWord pronounciation partOfSpeech matchingMethod">

         <wsdl:input message="impl:searchLemmaNodesRequest" name="searchLemmaNodesRequest"/>

         <wsdl:output message="impl:searchLemmaNodesResponse" name="searchLemmaNodesResponse"/>

         <wsdl:fault message="impl:ServerBusyException" name="ServerBusyException"/>

         <wsdl:fault message="impl:LanguagePairNotUniquelyDecidedException" name="LanguagePairNotUniquelyDecidedException"/>

         <wsdl:fault message="impl:NoAccessPermissionException" name="NoAccessPermissionException"/>

         <wsdl:fault message="impl:AccessLimitExceededException" name="AccessLimitExceededException"/>

         <wsdl:fault message="impl:UnsupportedLanguagePairException" name="UnsupportedLanguagePairException"/>

         <wsdl:fault message="impl:NoValidEndpointsException" name="NoValidEndpointsException"/>

         <wsdl:fault message="impl:ServiceNotActiveException" name="ServiceNotActiveException"/>

         <wsdl:fault message="impl:ServiceNotFoundException" name="ServiceNotFoundException"/>

         <wsdl:fault message="impl:ProcessFailedException" name="ProcessFailedException"/>

         <wsdl:fault message="impl:InvalidParameterException" name="InvalidParameterException"/>

         <wsdl:fault message="impl:ServiceConfigurationException" name="ServiceConfigurationException"/>

         <wsdl:fault message="impl:UnknownException" name="UnknownException"/>

      </wsdl:operation>

      <wsdl:operation name="getConcept" parameterOrder="conceptNodeId">

         <wsdl:input message="impl:getConceptRequest" name="getConceptRequest"/>

         <wsdl:output message="impl:getConceptResponse" name="getConceptResponse"/>

         <wsdl:fault message="impl:ServerBusyException" name="ServerBusyException"/>

         <wsdl:fault message="impl:NoAccessPermissionException" name="NoAccessPermissionException"/>

         <wsdl:fault message="impl:AccessLimitExceededException" name="AccessLimitExceededException"/>

         <wsdl:fault message="impl:ServiceNotActiveException" name="ServiceNotActiveException"/>

         <wsdl:fault message="impl:ServiceNotFoundException" name="ServiceNotFoundException"/>

         <wsdl:fault message="impl:ProcessFailedException" name="ProcessFailedException"/>

         <wsdl:fault message="impl:NodeNotFoundException" name="NodeNotFoundException"/>

         <wsdl:fault message="impl:InvalidParameterException" name="InvalidParameterException"/>

         <wsdl:fault message="impl:ServiceConfigurationException" name="ServiceConfigurationException"/>

         <wsdl:fault message="impl:UnknownException" name="UnknownException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DictionarySoapBinding" type="impl:Dictionary">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getLemma">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getLemmaRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dictionary.ws_1_2.wrapper.langrid.nict.go.jp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getLemmaResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/wrapper-mock-1.2/services/Dictionary" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ServerBusyException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServerBusyException" namespace="http://localhost:8080/wrapper-mock-1.2/services/Dictionary" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoAccessPermissionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoAccessPermissionException" namespace="http://localhost:8080/wrapper-mock-1.2/services/Dictionary" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AccessLimitExceededException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AccessLimitExceededException" namespace="http://localhost:8080/wrapper-mock-1.2/services/Dictionary" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceNotActiveException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceNotActiveException" namespace="http://localhost:8080/wrapper-mock-1.2/services/Dictionary" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceNotFoundException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceNotFoundException" namespace="http://localhost:8080/wrapper-mock-1.2/services/Dictionary" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ProcessFailedException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProcessFailedException" namespace="http://localhost:8080/wrapper-mock-1.2/services/Dictionary" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NodeNotFoundException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NodeNotFoundException" namespace="http://localhost:8080/wrapper-mock-1.2/services/Dictionary" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="InvalidParameterException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InvalidParameterException" namespace="http://localhost:8080/wrapper-mock-1.2/services/Dictionary" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceConfigurationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceConfigurationException" namespace="http://localhost:8080/wrapper-mock-1.2/services/Dictionary" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="UnknownException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UnknownException" namespace="http://localhost:8080/wrapper-mock-1.2/services/Dictionary" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="searchLemmaNodes">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchLemmaNodesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dictionary.ws_1_2.wrapper.langrid.nict.go.jp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="searchLemmaNodesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/wrapper-mock-1.2/services/Dictionary" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ServerBusyException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServerBusyException" namespace="http://localhost:8080/wrapper-mock-1.2/services/Dictionary" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="LanguagePairNotUniquelyDecidedException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="LanguagePairNotUniquelyDecidedException" namespace="http://localhost:8080/wrapper-mock-1.2/services/Dictionary" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoAccessPermissionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoAccessPermissionException" namespace="http://localhost:8080/wrapper-mock-1.2/services/Dictionary" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AccessLimitExceededException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AccessLimitExceededException" namespace="http://localhost:8080/wrapper-mock-1.2/services/Dictionary" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="UnsupportedLanguagePairException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UnsupportedLanguagePairException" namespace="http://localhost:8080/wrapper-mock-1.2/services/Dictionary" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoValidEndpointsException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoValidEndpointsException" namespace="http://localhost:8080/wrapper-mock-1.2/services/Dictionary" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceNotActiveException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceNotActiveException" namespace="http://localhost:8080/wrapper-mock-1.2/services/Dictionary" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceNotFoundException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceNotFoundException" namespace="http://localhost:8080/wrapper-mock-1.2/services/Dictionary" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ProcessFailedException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProcessFailedException" namespace="http://localhost:8080/wrapper-mock-1.2/services/Dictionary" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="InvalidParameterException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InvalidParameterException" namespace="http://localhost:8080/wrapper-mock-1.2/services/Dictionary" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceConfigurationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceConfigurationException" namespace="http://localhost:8080/wrapper-mock-1.2/services/Dictionary" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="UnknownException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UnknownException" namespace="http://localhost:8080/wrapper-mock-1.2/services/Dictionary" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getConcept">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getConceptRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dictionary.ws_1_2.wrapper.langrid.nict.go.jp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getConceptResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/wrapper-mock-1.2/services/Dictionary" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ServerBusyException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServerBusyException" namespace="http://localhost:8080/wrapper-mock-1.2/services/Dictionary" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoAccessPermissionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoAccessPermissionException" namespace="http://localhost:8080/wrapper-mock-1.2/services/Dictionary" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AccessLimitExceededException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AccessLimitExceededException" namespace="http://localhost:8080/wrapper-mock-1.2/services/Dictionary" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceNotActiveException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceNotActiveException" namespace="http://localhost:8080/wrapper-mock-1.2/services/Dictionary" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceNotFoundException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceNotFoundException" namespace="http://localhost:8080/wrapper-mock-1.2/services/Dictionary" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ProcessFailedException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProcessFailedException" namespace="http://localhost:8080/wrapper-mock-1.2/services/Dictionary" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NodeNotFoundException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NodeNotFoundException" namespace="http://localhost:8080/wrapper-mock-1.2/services/Dictionary" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="InvalidParameterException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InvalidParameterException" namespace="http://localhost:8080/wrapper-mock-1.2/services/Dictionary" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceConfigurationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceConfigurationException" namespace="http://localhost:8080/wrapper-mock-1.2/services/Dictionary" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="UnknownException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UnknownException" namespace="http://localhost:8080/wrapper-mock-1.2/services/Dictionary" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="Dictionary">

      <wsdl:port binding="impl:DictionarySoapBinding" name="Dictionary">

         <wsdlsoap:address location="http://localhost:8080/langrid-1.2/invoker/Dictionary"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>