jp.go.nict.langrid.client.ws_1_2/wsdls/SpeechTranslation.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="servicegrid:service:kyotou.langrid:SpeechTranslation" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="servicegrid:service:kyotou.langrid:SpeechTranslation" xmlns:intf="servicegrid:service:kyotou.langrid:SpeechTranslation" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://langrid.nict.go.jp/ws_1_2/speech/" xmlns:tns2="http://langrid.nict.go.jp/ws_1_2/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="http://langrid.nict.go.jp/ws_1_2/speech/" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="servicegrid:service:kyotou.langrid:SpeechTranslation"/>
   <import namespace="http://langrid.nict.go.jp/ws_1_2/"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="Speech">
    <sequence>
     <element name="audio" nillable="true" type="xsd:base64Binary"/>
     <element name="audioType" nillable="true" type="xsd:string"/>
     <element name="voiceType" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="http://langrid.nict.go.jp/ws_1_2/" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://langrid.nict.go.jp/ws_1_2/speech/"/>
   <import namespace="servicegrid:service:kyotou.langrid:SpeechTranslation"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="LangridException">
    <sequence>
     <element name="description" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="AccessLimitExceededException">
    <complexContent>
     <extension base="tns2:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="InvalidParameterException">
    <complexContent>
     <extension base="tns2:LangridException">
      <sequence>
       <element name="parameterName" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="UnsupportedLanguagePairException">
    <complexContent>
     <extension base="tns2:InvalidParameterException">
      <sequence>
       <element name="language1" nillable="true" type="xsd:string"/>
       <element name="language2" nillable="true" type="xsd:string"/>
       <element name="parameterName1" nillable="true" type="xsd:string"/>
       <element name="parameterName2" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="LanguagePairNotUniquelyDecidedException">
    <complexContent>
     <extension base="tns2:InvalidParameterException">
      <sequence>
       <element name="candidates" nillable="true" type="impl:ArrayOf_xsd_string"/>
       <element name="message" nillable="true" type="xsd:string"/>
       <element name="parameterName1" nillable="true" type="xsd:string"/>
       <element name="parameterName2" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="NoAccessPermissionException">
    <complexContent>
     <extension base="tns2:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ProcessFailedException">
    <complexContent>
     <extension base="tns2:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="NoValidEndpointsException">
    <complexContent>
     <extension base="tns2:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ServerBusyException">
    <complexContent>
     <extension base="tns2:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ServiceNotActiveException">
    <complexContent>
     <extension base="tns2:LangridException">
      <sequence>
       <element name="serviceId" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ServiceNotFoundException">
    <complexContent>
     <extension base="tns2:LangridException">
      <sequence>
       <element name="serviceId" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="servicegrid:service:kyotou.langrid:SpeechTranslation" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://langrid.nict.go.jp/ws_1_2/speech/"/>
   <import namespace="http://langrid.nict.go.jp/ws_1_2/"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_xsd_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="ProcessFailedException">

      <wsdl:part name="fault" type="tns2:ProcessFailedException"/>

   </wsdl:message>

   <wsdl:message name="NoAccessPermissionException">

      <wsdl:part name="fault" type="tns2:NoAccessPermissionException"/>

   </wsdl:message>

   <wsdl:message name="ServerBusyException">

      <wsdl:part name="fault" type="tns2:ServerBusyException"/>

   </wsdl:message>

   <wsdl:message name="AccessLimitExceededException">

      <wsdl:part name="fault" type="tns2:AccessLimitExceededException"/>

   </wsdl:message>

   <wsdl:message name="translateResponse">

      <wsdl:part name="translateReturn" type="tns1:Speech"/>

   </wsdl:message>

   <wsdl:message name="translateRequest">

      <wsdl:part name="sourceLang" type="xsd:string"/>

      <wsdl:part name="targetLang" type="xsd:string"/>

      <wsdl:part name="source" type="tns1:Speech"/>

      <wsdl:part name="targetVoiceType" type="xsd:string"/>

      <wsdl:part name="targetAudioType" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="ServiceNotActiveException">

      <wsdl:part name="fault" type="tns2:ServiceNotActiveException"/>

   </wsdl:message>

   <wsdl:message name="NoValidEndpointsException">

      <wsdl:part name="fault" type="tns2:NoValidEndpointsException"/>

   </wsdl:message>

   <wsdl:message name="LanguagePairNotUniquelyDecidedException">

      <wsdl:part name="fault" type="tns2:LanguagePairNotUniquelyDecidedException"/>

   </wsdl:message>

   <wsdl:message name="InvalidParameterException">

      <wsdl:part name="fault" type="tns2:InvalidParameterException"/>

   </wsdl:message>

   <wsdl:message name="UnsupportedLanguagePairException">

      <wsdl:part name="fault" type="tns2:UnsupportedLanguagePairException"/>

   </wsdl:message>

   <wsdl:message name="ServiceNotFoundException">

      <wsdl:part name="fault" type="tns2:ServiceNotFoundException"/>

   </wsdl:message>

   <wsdl:portType name="AxisSpeechTranslationHandler">

      <wsdl:operation name="translate" parameterOrder="sourceLang targetLang source targetVoiceType targetAudioType">

         <wsdl:input message="impl:translateRequest" name="translateRequest"/>

         <wsdl:output message="impl:translateResponse" name="translateResponse"/>

         <wsdl:fault message="impl:UnsupportedLanguagePairException" name="UnsupportedLanguagePairException"/>

         <wsdl:fault message="impl:ServiceNotFoundException" name="ServiceNotFoundException"/>

         <wsdl:fault message="impl:ServiceNotActiveException" name="ServiceNotActiveException"/>

         <wsdl:fault message="impl:NoValidEndpointsException" name="NoValidEndpointsException"/>

         <wsdl:fault message="impl:LanguagePairNotUniquelyDecidedException" name="LanguagePairNotUniquelyDecidedException"/>

         <wsdl:fault message="impl:InvalidParameterException" name="InvalidParameterException"/>

         <wsdl:fault message="impl:ServerBusyException" name="ServerBusyException"/>

         <wsdl:fault message="impl:AccessLimitExceededException" name="AccessLimitExceededException"/>

         <wsdl:fault message="impl:ProcessFailedException" name="ProcessFailedException"/>

         <wsdl:fault message="impl:NoAccessPermissionException" name="NoAccessPermissionException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SpeechTranslationSoapBinding" type="impl:AxisSpeechTranslationHandler">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="translate">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="translateRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="servicegrid:service:kyotou.langrid:SpeechTranslation" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="translateResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="servicegrid:service:kyotou.langrid:SpeechTranslation" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="UnsupportedLanguagePairException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UnsupportedLanguagePairException" namespace="servicegrid:service:kyotou.langrid:SpeechTranslation" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceNotFoundException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceNotFoundException" namespace="servicegrid:service:kyotou.langrid:SpeechTranslation" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceNotActiveException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceNotActiveException" namespace="servicegrid:service:kyotou.langrid:SpeechTranslation" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoValidEndpointsException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoValidEndpointsException" namespace="servicegrid:service:kyotou.langrid:SpeechTranslation" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="LanguagePairNotUniquelyDecidedException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="LanguagePairNotUniquelyDecidedException" namespace="servicegrid:service:kyotou.langrid:SpeechTranslation" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="InvalidParameterException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InvalidParameterException" namespace="servicegrid:service:kyotou.langrid:SpeechTranslation" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServerBusyException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServerBusyException" namespace="servicegrid:service:kyotou.langrid:SpeechTranslation" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AccessLimitExceededException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AccessLimitExceededException" namespace="servicegrid:service:kyotou.langrid:SpeechTranslation" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ProcessFailedException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProcessFailedException" namespace="servicegrid:service:kyotou.langrid:SpeechTranslation" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoAccessPermissionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoAccessPermissionException" namespace="servicegrid:service:kyotou.langrid:SpeechTranslation" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="kyotou.langrid.SpeechTranslation">

      <wsdl:port binding="impl:SpeechTranslationSoapBinding" name="SpeechTranslation">

         <wsdlsoap:address location="http://landev.nict.go.jp/service_manager/invoker/kyotou.langrid:SpeechTranslation"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
