modules/jp.go.nict.langrid.client.ws_1_2/wsdls/MorphemesDependencyParser.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://localhost:8080/jp.go.nict.langrid.webapps.mock/services/MorphemesDependencyParser" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://localhost:8080/jp.go.nict.langrid.webapps.mock/services/MorphemesDependencyParser" xmlns:intf="http://localhost:8080/jp.go.nict.langrid.webapps.mock/services/MorphemesDependencyParser" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://langrid.nict.go.jp/ws_1_2/morphologicalanalysis/" xmlns:tns2="http://langrid.nict.go.jp/ws_1_2/dependencyparser/" xmlns:tns3="http://langrid.nict.go.jp/ws_1_2/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDLはApache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)によって生成されました / [en]-(WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT))-->
 <wsdl:types>
  <schema targetNamespace="http://langrid.nict.go.jp/ws_1_2/morphologicalanalysis/" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://localhost:8080/jp.go.nict.langrid.webapps.mock/services/MorphemesDependencyParser"/>
   <import namespace="http://langrid.nict.go.jp/ws_1_2/dependencyparser/"/>
   <import namespace="http://langrid.nict.go.jp/ws_1_2/"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="Morpheme">
    <sequence>
     <element name="lemma" nillable="true" type="xsd:string"/>
     <element name="partOfSpeech" nillable="true" type="xsd:string"/>
     <element name="word" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="http://localhost:8080/jp.go.nict.langrid.webapps.mock/services/MorphemesDependencyParser" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://langrid.nict.go.jp/ws_1_2/morphologicalanalysis/"/>
   <import namespace="http://langrid.nict.go.jp/ws_1_2/dependencyparser/"/>
   <import namespace="http://langrid.nict.go.jp/ws_1_2/"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_tns1_Morpheme">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:Morpheme[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns2_Chunk">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:Chunk[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_xsd_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="http://langrid.nict.go.jp/ws_1_2/dependencyparser/" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://localhost:8080/jp.go.nict.langrid.webapps.mock/services/MorphemesDependencyParser"/>
   <import namespace="http://langrid.nict.go.jp/ws_1_2/morphologicalanalysis/"/>
   <import namespace="http://langrid.nict.go.jp/ws_1_2/"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="Dependency">
    <sequence>
     <element name="headChunkId" nillable="true" type="xsd:string"/>
     <element name="label" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Chunk">
    <sequence>
     <element name="chunkId" nillable="true" type="xsd:string"/>
     <element name="dependency" nillable="true" type="tns2:Dependency"/>
     <element name="morphemes" nillable="true" type="impl:ArrayOf_tns1_Morpheme"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="http://langrid.nict.go.jp/ws_1_2/" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://localhost:8080/jp.go.nict.langrid.webapps.mock/services/MorphemesDependencyParser"/>
   <import namespace="http://langrid.nict.go.jp/ws_1_2/morphologicalanalysis/"/>
   <import namespace="http://langrid.nict.go.jp/ws_1_2/dependencyparser/"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="LangridException">
    <sequence>
     <element name="description" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="AccessLimitExceededException">
    <complexContent>
     <extension base="tns3:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="InvalidParameterException">
    <complexContent>
     <extension base="tns3:LangridException">
      <sequence>
       <element name="parameterName" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="LanguageNotUniquelyDecidedException">
    <complexContent>
     <extension base="tns3:InvalidParameterException">
      <sequence>
       <element name="candidates" nillable="true" type="impl:ArrayOf_xsd_string"/>
       <element name="message" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="UnsupportedLanguageException">
    <complexContent>
     <extension base="tns3:InvalidParameterException">
      <sequence>
       <element name="language" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="NoAccessPermissionException">
    <complexContent>
     <extension base="tns3:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ProcessFailedException">
    <complexContent>
     <extension base="tns3:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="NoValidEndpointsException">
    <complexContent>
     <extension base="tns3:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ServerBusyException">
    <complexContent>
     <extension base="tns3:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ServiceNotActiveException">
    <complexContent>
     <extension base="tns3:LangridException">
      <sequence>
       <element name="serviceId" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ServiceNotFoundException">
    <complexContent>
     <extension base="tns3:LangridException">
      <sequence>
       <element name="serviceId" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="ProcessFailedException">

      <wsdl:part name="fault" type="tns3:ProcessFailedException"/>

   </wsdl:message>

   <wsdl:message name="NoAccessPermissionException">

      <wsdl:part name="fault" type="tns3:NoAccessPermissionException"/>

   </wsdl:message>

   <wsdl:message name="parseDependencyRequest">

      <wsdl:part name="language" type="soapenc:string"/>

      <wsdl:part name="morphs" type="impl:ArrayOf_tns1_Morpheme"/>

   </wsdl:message>

   <wsdl:message name="ServerBusyException">

      <wsdl:part name="fault" type="tns3:ServerBusyException"/>

   </wsdl:message>

   <wsdl:message name="AccessLimitExceededException">

      <wsdl:part name="fault" type="tns3:AccessLimitExceededException"/>

   </wsdl:message>

   <wsdl:message name="ServiceNotFoundException">

      <wsdl:part name="fault" type="tns3:ServiceNotFoundException"/>

   </wsdl:message>

   <wsdl:message name="LanguageNotUniquelyDecidedException">

      <wsdl:part name="fault" type="tns3:LanguageNotUniquelyDecidedException"/>

   </wsdl:message>

   <wsdl:message name="parseDependencyResponse">

      <wsdl:part name="parseDependencyReturn" type="impl:ArrayOf_tns2_Chunk"/>

   </wsdl:message>

   <wsdl:message name="UnsupportedLanguageException">

      <wsdl:part name="fault" type="tns3:UnsupportedLanguageException"/>

   </wsdl:message>

   <wsdl:message name="ServiceNotActiveException">

      <wsdl:part name="fault" type="tns3:ServiceNotActiveException"/>

   </wsdl:message>

   <wsdl:message name="NoValidEndpointsException">

      <wsdl:part name="fault" type="tns3:NoValidEndpointsException"/>

   </wsdl:message>

   <wsdl:message name="InvalidParameterException">

      <wsdl:part name="fault" type="tns3:InvalidParameterException"/>

   </wsdl:message>

   <wsdl:portType name="MorphemesDependencyParserService">

      <wsdl:operation name="parseDependency" parameterOrder="language morphs">

         <wsdl:input message="impl:parseDependencyRequest" name="parseDependencyRequest"/>

         <wsdl:output message="impl:parseDependencyResponse" name="parseDependencyResponse"/>

         <wsdl:fault message="impl:ServiceNotFoundException" name="ServiceNotFoundException"/>

         <wsdl:fault message="impl:LanguageNotUniquelyDecidedException" name="LanguageNotUniquelyDecidedException"/>

         <wsdl:fault message="impl:UnsupportedLanguageException" name="UnsupportedLanguageException"/>

         <wsdl:fault message="impl:ServiceNotActiveException" name="ServiceNotActiveException"/>

         <wsdl:fault message="impl:NoValidEndpointsException" name="NoValidEndpointsException"/>

         <wsdl:fault message="impl:InvalidParameterException" name="InvalidParameterException"/>

         <wsdl:fault message="impl:ServerBusyException" name="ServerBusyException"/>

         <wsdl:fault message="impl:AccessLimitExceededException" name="AccessLimitExceededException"/>

         <wsdl:fault message="impl:ProcessFailedException" name="ProcessFailedException"/>

         <wsdl:fault message="impl:NoAccessPermissionException" name="NoAccessPermissionException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MorphemesDependencyParserSoapBinding" type="impl:MorphemesDependencyParserService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="parseDependency">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="parseDependencyRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://mock.webapps.langrid.nict.go.jp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="parseDependencyResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/jp.go.nict.langrid.webapps.mock/services/MorphemesDependencyParser" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ServiceNotFoundException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceNotFoundException" namespace="http://localhost:8080/jp.go.nict.langrid.webapps.mock/services/MorphemesDependencyParser" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="LanguageNotUniquelyDecidedException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="LanguageNotUniquelyDecidedException" namespace="http://localhost:8080/jp.go.nict.langrid.webapps.mock/services/MorphemesDependencyParser" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="UnsupportedLanguageException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UnsupportedLanguageException" namespace="http://localhost:8080/jp.go.nict.langrid.webapps.mock/services/MorphemesDependencyParser" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceNotActiveException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceNotActiveException" namespace="http://localhost:8080/jp.go.nict.langrid.webapps.mock/services/MorphemesDependencyParser" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoValidEndpointsException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoValidEndpointsException" namespace="http://localhost:8080/jp.go.nict.langrid.webapps.mock/services/MorphemesDependencyParser" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="InvalidParameterException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InvalidParameterException" namespace="http://localhost:8080/jp.go.nict.langrid.webapps.mock/services/MorphemesDependencyParser" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServerBusyException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServerBusyException" namespace="http://localhost:8080/jp.go.nict.langrid.webapps.mock/services/MorphemesDependencyParser" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AccessLimitExceededException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AccessLimitExceededException" namespace="http://localhost:8080/jp.go.nict.langrid.webapps.mock/services/MorphemesDependencyParser" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ProcessFailedException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProcessFailedException" namespace="http://localhost:8080/jp.go.nict.langrid.webapps.mock/services/MorphemesDependencyParser" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoAccessPermissionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoAccessPermissionException" namespace="http://localhost:8080/jp.go.nict.langrid.webapps.mock/services/MorphemesDependencyParser" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MorphemesDependencyParserServiceService">

      <wsdl:port binding="impl:MorphemesDependencyParserSoapBinding" name="MorphemesDependencyParser">

         <wsdlsoap:address location="http://localhost:8080/jp.go.nict.langrid.webapps.mock/services/MorphemesDependencyParser"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>