modules/jp.go.nict.langrid.client.ws_1_2/wsdls/NamedEntityTagging.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://localhost:8080/jp.go.nict.langrid.webapps.mock/services/NamedEntityTagging" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://localhost:8080/jp.go.nict.langrid.webapps.mock/services/NamedEntityTagging" xmlns:intf="http://localhost:8080/jp.go.nict.langrid.webapps.mock/services/NamedEntityTagging" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://langrid.nict.go.jp/ws_1_2/namedentitytagging/" xmlns:tns2="http://langrid.nict.go.jp/ws_1_2/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDLはApache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)によって生成されました / [en]-(WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT))-->
 <wsdl:types>
  <schema targetNamespace="http://langrid.nict.go.jp/ws_1_2/namedentitytagging/" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://localhost:8080/jp.go.nict.langrid.webapps.mock/services/NamedEntityTagging"/>
   <import namespace="http://langrid.nict.go.jp/ws_1_2/"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="NamedEntity">
    <sequence>
     <element name="entity" nillable="true" type="xsd:string"/>
     <element name="tag" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="http://localhost:8080/jp.go.nict.langrid.webapps.mock/services/NamedEntityTagging" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://langrid.nict.go.jp/ws_1_2/"/>
   <import namespace="http://langrid.nict.go.jp/ws_1_2/namedentitytagging/"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_tns1_NamedEntity">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:NamedEntity[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_xsd_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="http://langrid.nict.go.jp/ws_1_2/" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://localhost:8080/jp.go.nict.langrid.webapps.mock/services/NamedEntityTagging"/>
   <import namespace="http://langrid.nict.go.jp/ws_1_2/namedentitytagging/"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="LangridException">
    <sequence>
     <element name="description" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="AccessLimitExceededException">
    <complexContent>
     <extension base="tns2:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="InvalidParameterException">
    <complexContent>
     <extension base="tns2:LangridException">
      <sequence>
       <element name="parameterName" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="LanguageNotUniquelyDecidedException">
    <complexContent>
     <extension base="tns2:InvalidParameterException">
      <sequence>
       <element name="candidates" nillable="true" type="impl:ArrayOf_xsd_string"/>
       <element name="message" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="UnsupportedLanguageException">
    <complexContent>
     <extension base="tns2:InvalidParameterException">
      <sequence>
       <element name="language" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="NoAccessPermissionException">
    <complexContent>
     <extension base="tns2:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ProcessFailedException">
    <complexContent>
     <extension base="tns2:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="NoValidEndpointsException">
    <complexContent>
     <extension base="tns2:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ServerBusyException">
    <complexContent>
     <extension base="tns2:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ServiceNotActiveException">
    <complexContent>
     <extension base="tns2:LangridException">
      <sequence>
       <element name="serviceId" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ServiceNotFoundException">
    <complexContent>
     <extension base="tns2:LangridException">
      <sequence>
       <element name="serviceId" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getSupportedLanguagesRequest">

   </wsdl:message>

   <wsdl:message name="NoAccessPermissionException">

      <wsdl:part name="fault" type="tns2:NoAccessPermissionException"/>

   </wsdl:message>

   <wsdl:message name="ServiceNotActiveException">

      <wsdl:part name="fault" type="tns2:ServiceNotActiveException"/>

   </wsdl:message>

   <wsdl:message name="UnsupportedLanguageException">

      <wsdl:part name="fault" type="tns2:UnsupportedLanguageException"/>

   </wsdl:message>

   <wsdl:message name="LanguageNotUniquelyDecidedException">

      <wsdl:part name="fault" type="tns2:LanguageNotUniquelyDecidedException"/>

   </wsdl:message>

   <wsdl:message name="ServiceNotFoundException">

      <wsdl:part name="fault" type="tns2:ServiceNotFoundException"/>

   </wsdl:message>

   <wsdl:message name="ServerBusyException">

      <wsdl:part name="fault" type="tns2:ServerBusyException"/>

   </wsdl:message>

   <wsdl:message name="tagRequest">

      <wsdl:part name="language" type="soapenc:string"/>

      <wsdl:part name="text" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="tagResponse">

      <wsdl:part name="tagReturn" type="impl:ArrayOf_tns1_NamedEntity"/>

   </wsdl:message>

   <wsdl:message name="ProcessFailedException">

      <wsdl:part name="fault" type="tns2:ProcessFailedException"/>

   </wsdl:message>

   <wsdl:message name="getSupportedLanguagesResponse">

      <wsdl:part name="getSupportedLanguagesReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="InvalidParameterException">

      <wsdl:part name="fault" type="tns2:InvalidParameterException"/>

   </wsdl:message>

   <wsdl:message name="NoValidEndpointsException">

      <wsdl:part name="fault" type="tns2:NoValidEndpointsException"/>

   </wsdl:message>

   <wsdl:message name="AccessLimitExceededException">

      <wsdl:part name="fault" type="tns2:AccessLimitExceededException"/>

   </wsdl:message>

   <wsdl:portType name="NamedEntityTaggingService">

      <wsdl:operation name="tag" parameterOrder="language text">

         <wsdl:input message="impl:tagRequest" name="tagRequest"/>

         <wsdl:output message="impl:tagResponse" name="tagResponse"/>

         <wsdl:fault message="impl:ServiceNotFoundException" name="ServiceNotFoundException"/>

         <wsdl:fault message="impl:LanguageNotUniquelyDecidedException" name="LanguageNotUniquelyDecidedException"/>

         <wsdl:fault message="impl:UnsupportedLanguageException" name="UnsupportedLanguageException"/>

         <wsdl:fault message="impl:ServiceNotActiveException" name="ServiceNotActiveException"/>

         <wsdl:fault message="impl:NoValidEndpointsException" name="NoValidEndpointsException"/>

         <wsdl:fault message="impl:InvalidParameterException" name="InvalidParameterException"/>

         <wsdl:fault message="impl:ServerBusyException" name="ServerBusyException"/>

         <wsdl:fault message="impl:AccessLimitExceededException" name="AccessLimitExceededException"/>

         <wsdl:fault message="impl:ProcessFailedException" name="ProcessFailedException"/>

         <wsdl:fault message="impl:NoAccessPermissionException" name="NoAccessPermissionException"/>

      </wsdl:operation>

      <wsdl:operation name="getSupportedLanguages">

         <wsdl:input message="impl:getSupportedLanguagesRequest" name="getSupportedLanguagesRequest"/>

         <wsdl:output message="impl:getSupportedLanguagesResponse" name="getSupportedLanguagesResponse"/>

         <wsdl:fault message="impl:ServiceNotFoundException" name="ServiceNotFoundException"/>

         <wsdl:fault message="impl:ServiceNotActiveException" name="ServiceNotActiveException"/>

         <wsdl:fault message="impl:NoValidEndpointsException" name="NoValidEndpointsException"/>

         <wsdl:fault message="impl:ServerBusyException" name="ServerBusyException"/>

         <wsdl:fault message="impl:AccessLimitExceededException" name="AccessLimitExceededException"/>

         <wsdl:fault message="impl:ProcessFailedException" name="ProcessFailedException"/>

         <wsdl:fault message="impl:NoAccessPermissionException" name="NoAccessPermissionException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="NamedEntityTaggingSoapBinding" type="impl:NamedEntityTaggingService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="tag">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="tagRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://mock.webapps.langrid.nict.go.jp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="tagResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/jp.go.nict.langrid.webapps.mock/services/NamedEntityTagging" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ServiceNotFoundException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceNotFoundException" namespace="http://localhost:8080/jp.go.nict.langrid.webapps.mock/services/NamedEntityTagging" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="LanguageNotUniquelyDecidedException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="LanguageNotUniquelyDecidedException" namespace="http://localhost:8080/jp.go.nict.langrid.webapps.mock/services/NamedEntityTagging" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="UnsupportedLanguageException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UnsupportedLanguageException" namespace="http://localhost:8080/jp.go.nict.langrid.webapps.mock/services/NamedEntityTagging" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceNotActiveException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceNotActiveException" namespace="http://localhost:8080/jp.go.nict.langrid.webapps.mock/services/NamedEntityTagging" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoValidEndpointsException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoValidEndpointsException" namespace="http://localhost:8080/jp.go.nict.langrid.webapps.mock/services/NamedEntityTagging" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="InvalidParameterException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InvalidParameterException" namespace="http://localhost:8080/jp.go.nict.langrid.webapps.mock/services/NamedEntityTagging" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServerBusyException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServerBusyException" namespace="http://localhost:8080/jp.go.nict.langrid.webapps.mock/services/NamedEntityTagging" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AccessLimitExceededException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AccessLimitExceededException" namespace="http://localhost:8080/jp.go.nict.langrid.webapps.mock/services/NamedEntityTagging" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ProcessFailedException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProcessFailedException" namespace="http://localhost:8080/jp.go.nict.langrid.webapps.mock/services/NamedEntityTagging" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoAccessPermissionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoAccessPermissionException" namespace="http://localhost:8080/jp.go.nict.langrid.webapps.mock/services/NamedEntityTagging" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getSupportedLanguages">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSupportedLanguagesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://mock.webapps.langrid.nict.go.jp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getSupportedLanguagesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/jp.go.nict.langrid.webapps.mock/services/NamedEntityTagging" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ServiceNotFoundException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceNotFoundException" namespace="http://localhost:8080/jp.go.nict.langrid.webapps.mock/services/NamedEntityTagging" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceNotActiveException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceNotActiveException" namespace="http://localhost:8080/jp.go.nict.langrid.webapps.mock/services/NamedEntityTagging" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoValidEndpointsException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoValidEndpointsException" namespace="http://localhost:8080/jp.go.nict.langrid.webapps.mock/services/NamedEntityTagging" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServerBusyException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServerBusyException" namespace="http://localhost:8080/jp.go.nict.langrid.webapps.mock/services/NamedEntityTagging" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AccessLimitExceededException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AccessLimitExceededException" namespace="http://localhost:8080/jp.go.nict.langrid.webapps.mock/services/NamedEntityTagging" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ProcessFailedException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProcessFailedException" namespace="http://localhost:8080/jp.go.nict.langrid.webapps.mock/services/NamedEntityTagging" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoAccessPermissionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoAccessPermissionException" namespace="http://localhost:8080/jp.go.nict.langrid.webapps.mock/services/NamedEntityTagging" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="NamedEntityTaggingServiceService">

      <wsdl:port binding="impl:NamedEntityTaggingSoapBinding" name="NamedEntityTagging">

         <wsdlsoap:address location="http://localhost:8080/jp.go.nict.langrid.webapps.mock/services/NamedEntityTagging"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>