modules/jp.go.nict.langrid.client.ws_1_2/wsdls/TemplateParallelText.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://localhost:8080/service-mock/services/TemplateParallelText" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://localhost:8080/service-mock/services/TemplateParallelText" xmlns:intf="http://localhost:8080/service-mock/services/TemplateParallelText" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://langrid.nict.go.jp/ws_1_2/" xmlns:tns2="http://langrid.nict.go.jp/ws_1_2/templateparalleltext/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDLはApache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)によって生成されました / [en]-(WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT))-->
 <wsdl:types>
  <schema targetNamespace="http://langrid.nict.go.jp/ws_1_2/" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://langrid.nict.go.jp/ws_1_2/templateparalleltext/"/>
   <import namespace="http://localhost:8080/service-mock/services/TemplateParallelText"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="Category">
    <sequence>
     <element name="categoryId" nillable="true" type="xsd:string"/>
     <element name="categoryName" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="LangridException">
    <sequence>
     <element name="description" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="AccessLimitExceededException">
    <complexContent>
     <extension base="tns1:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="InvalidParameterException">
    <complexContent>
     <extension base="tns1:LangridException">
      <sequence>
       <element name="parameterName" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="UnsupportedMatchingMethodException">
    <complexContent>
     <extension base="tns1:InvalidParameterException">
      <sequence>
       <element name="matchingMethod" nillable="true" type="xsd:string"/>
       <element name="validMethods" nillable="true" type="impl:ArrayOf_xsd_string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="UnsupportedLanguageException">
    <complexContent>
     <extension base="tns1:InvalidParameterException">
      <sequence>
       <element name="language" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="NoAccessPermissionException">
    <complexContent>
     <extension base="tns1:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="NoValidEndpointsException">
    <complexContent>
     <extension base="tns1:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ProcessFailedException">
    <complexContent>
     <extension base="tns1:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ServerBusyException">
    <complexContent>
     <extension base="tns1:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ServiceNotActiveException">
    <complexContent>
     <extension base="tns1:LangridException">
      <sequence>
       <element name="serviceId" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ServiceNotFoundException">
    <complexContent>
     <extension base="tns1:LangridException">
      <sequence>
       <element name="serviceId" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="http://localhost:8080/service-mock/services/TemplateParallelText" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://langrid.nict.go.jp/ws_1_2/templateparalleltext/"/>
   <import namespace="http://langrid.nict.go.jp/ws_1_2/"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_tns1_Category">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:Category[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_xsd_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns2_Choice">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:Choice[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns2_ChoiceParameter">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:ChoiceParameter[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns2_ValueParameter">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:ValueParameter[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns2_Template">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:Template[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns2_BoundChoiceParameter">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:BoundChoiceParameter[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns2_BoundValueParameter">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:BoundValueParameter[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="http://langrid.nict.go.jp/ws_1_2/templateparalleltext/" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://localhost:8080/service-mock/services/TemplateParallelText"/>
   <import namespace="http://langrid.nict.go.jp/ws_1_2/"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="Choice">
    <sequence>
     <element name="choiceId" nillable="true" type="xsd:string"/>
     <element name="value" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ChoiceParameter">
    <sequence>
     <element name="choices" nillable="true" type="impl:ArrayOf_tns2_Choice"/>
     <element name="parameterId" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ValueParameter">
    <sequence>
     <element name="max" nillable="true" type="xsd:string"/>
     <element name="min" nillable="true" type="xsd:string"/>
     <element name="parameterId" nillable="true" type="xsd:string"/>
     <element name="type" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Template">
    <sequence>
     <element name="categories" nillable="true" type="impl:ArrayOf_tns1_Category"/>
     <element name="choiceParameters" nillable="true" type="impl:ArrayOf_tns2_ChoiceParameter"/>
     <element name="template" nillable="true" type="xsd:string"/>
     <element name="templateId" nillable="true" type="xsd:string"/>
     <element name="valueParameters" nillable="true" type="impl:ArrayOf_tns2_ValueParameter"/>
    </sequence>
   </complexType>
   <complexType name="BoundChoiceParameter">
    <sequence>
     <element name="choiceId" nillable="true" type="xsd:string"/>
     <element name="parameterId" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="BoundValueParameter">
    <sequence>
     <element name="parameterId" nillable="true" type="xsd:string"/>
     <element name="value" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getCategoryNamesRequest">

      <wsdl:part name="categoryId" type="xsd:string"/>

      <wsdl:part name="languages" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="searchTemplatesResponse">

      <wsdl:part name="searchTemplatesReturn" type="impl:ArrayOf_tns2_Template"/>

   </wsdl:message>

   <wsdl:message name="ProcessFailedException">

      <wsdl:part name="fault" type="tns1:ProcessFailedException"/>

   </wsdl:message>

   <wsdl:message name="generateSentenceRequest">

      <wsdl:part name="language" type="xsd:string"/>

      <wsdl:part name="templateId" type="xsd:string"/>

      <wsdl:part name="boundChoiceParameters" type="impl:ArrayOf_tns2_BoundChoiceParameter"/>

      <wsdl:part name="boundValueParameters" type="impl:ArrayOf_tns2_BoundValueParameter"/>

   </wsdl:message>

   <wsdl:message name="searchTemplatesRequest">

      <wsdl:part name="language" type="xsd:string"/>

      <wsdl:part name="text" type="xsd:string"/>

      <wsdl:part name="matchingMethod" type="xsd:string"/>

      <wsdl:part name="categoryIds" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="AccessLimitExceededException">

      <wsdl:part name="fault" type="tns1:AccessLimitExceededException"/>

   </wsdl:message>

   <wsdl:message name="getCategoryNamesResponse">

      <wsdl:part name="getCategoryNamesReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="getTemplatesByTemplateIdRequest">

      <wsdl:part name="language" type="xsd:string"/>

      <wsdl:part name="templateIds" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="InvalidParameterException">

      <wsdl:part name="fault" type="tns1:InvalidParameterException"/>

   </wsdl:message>

   <wsdl:message name="NoValidEndpointsException">

      <wsdl:part name="fault" type="tns1:NoValidEndpointsException"/>

   </wsdl:message>

   <wsdl:message name="UnsupportedMatchingMethodException">

      <wsdl:part name="fault" type="tns1:UnsupportedMatchingMethodException"/>

   </wsdl:message>

   <wsdl:message name="listTemplateCategoriesRequest">

      <wsdl:part name="language" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="listTemplateCategoriesResponse">

      <wsdl:part name="listTemplateCategoriesReturn" type="impl:ArrayOf_tns1_Category"/>

   </wsdl:message>

   <wsdl:message name="NoAccessPermissionException">

      <wsdl:part name="fault" type="tns1:NoAccessPermissionException"/>

   </wsdl:message>

   <wsdl:message name="generateSentenceResponse">

      <wsdl:part name="generateSentenceReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="ServerBusyException">

      <wsdl:part name="fault" type="tns1:ServerBusyException"/>

   </wsdl:message>

   <wsdl:message name="ServiceNotActiveException">

      <wsdl:part name="fault" type="tns1:ServiceNotActiveException"/>

   </wsdl:message>

   <wsdl:message name="UnsupportedLanguageException">

      <wsdl:part name="fault" type="tns1:UnsupportedLanguageException"/>

   </wsdl:message>

   <wsdl:message name="ServiceNotFoundException">

      <wsdl:part name="fault" type="tns1:ServiceNotFoundException"/>

   </wsdl:message>

   <wsdl:message name="getTemplatesByTemplateIdResponse">

      <wsdl:part name="getTemplatesByTemplateIdReturn" type="impl:ArrayOf_tns2_Template"/>

   </wsdl:message>

   <wsdl:portType name="TemplateParallelText">

      <wsdl:operation name="listTemplateCategories" parameterOrder="language">

         <wsdl:input message="impl:listTemplateCategoriesRequest" name="listTemplateCategoriesRequest"/>

         <wsdl:output message="impl:listTemplateCategoriesResponse" name="listTemplateCategoriesResponse"/>

         <wsdl:fault message="impl:ServiceNotFoundException" name="ServiceNotFoundException"/>

         <wsdl:fault message="impl:UnsupportedLanguageException" name="UnsupportedLanguageException"/>

         <wsdl:fault message="impl:ServiceNotActiveException" name="ServiceNotActiveException"/>

         <wsdl:fault message="impl:NoValidEndpointsException" name="NoValidEndpointsException"/>

         <wsdl:fault message="impl:InvalidParameterException" name="InvalidParameterException"/>

         <wsdl:fault message="impl:ServerBusyException" name="ServerBusyException"/>

         <wsdl:fault message="impl:AccessLimitExceededException" name="AccessLimitExceededException"/>

         <wsdl:fault message="impl:ProcessFailedException" name="ProcessFailedException"/>

         <wsdl:fault message="impl:NoAccessPermissionException" name="NoAccessPermissionException"/>

      </wsdl:operation>

      <wsdl:operation name="getCategoryNames" parameterOrder="categoryId languages">

         <wsdl:input message="impl:getCategoryNamesRequest" name="getCategoryNamesRequest"/>

         <wsdl:output message="impl:getCategoryNamesResponse" name="getCategoryNamesResponse"/>

         <wsdl:fault message="impl:InvalidParameterException" name="InvalidParameterException"/>

         <wsdl:fault message="impl:ProcessFailedException" name="ProcessFailedException"/>

      </wsdl:operation>

      <wsdl:operation name="searchTemplates" parameterOrder="language text matchingMethod categoryIds">

         <wsdl:input message="impl:searchTemplatesRequest" name="searchTemplatesRequest"/>

         <wsdl:output message="impl:searchTemplatesResponse" name="searchTemplatesResponse"/>

         <wsdl:fault message="impl:ServiceNotFoundException" name="ServiceNotFoundException"/>

         <wsdl:fault message="impl:UnsupportedLanguageException" name="UnsupportedLanguageException"/>

         <wsdl:fault message="impl:ServiceNotActiveException" name="ServiceNotActiveException"/>

         <wsdl:fault message="impl:NoValidEndpointsException" name="NoValidEndpointsException"/>

         <wsdl:fault message="impl:InvalidParameterException" name="InvalidParameterException"/>

         <wsdl:fault message="impl:ServerBusyException" name="ServerBusyException"/>

         <wsdl:fault message="impl:AccessLimitExceededException" name="AccessLimitExceededException"/>

         <wsdl:fault message="impl:ProcessFailedException" name="ProcessFailedException"/>

         <wsdl:fault message="impl:NoAccessPermissionException" name="NoAccessPermissionException"/>

         <wsdl:fault message="impl:UnsupportedMatchingMethodException" name="UnsupportedMatchingMethodException"/>

      </wsdl:operation>

      <wsdl:operation name="getTemplatesByTemplateId" parameterOrder="language templateIds">

         <wsdl:input message="impl:getTemplatesByTemplateIdRequest" name="getTemplatesByTemplateIdRequest"/>

         <wsdl:output message="impl:getTemplatesByTemplateIdResponse" name="getTemplatesByTemplateIdResponse"/>

         <wsdl:fault message="impl:ServiceNotFoundException" name="ServiceNotFoundException"/>

         <wsdl:fault message="impl:UnsupportedLanguageException" name="UnsupportedLanguageException"/>

         <wsdl:fault message="impl:ServiceNotActiveException" name="ServiceNotActiveException"/>

         <wsdl:fault message="impl:NoValidEndpointsException" name="NoValidEndpointsException"/>

         <wsdl:fault message="impl:InvalidParameterException" name="InvalidParameterException"/>

         <wsdl:fault message="impl:ServerBusyException" name="ServerBusyException"/>

         <wsdl:fault message="impl:AccessLimitExceededException" name="AccessLimitExceededException"/>

         <wsdl:fault message="impl:ProcessFailedException" name="ProcessFailedException"/>

         <wsdl:fault message="impl:NoAccessPermissionException" name="NoAccessPermissionException"/>

      </wsdl:operation>

      <wsdl:operation name="generateSentence" parameterOrder="language templateId boundChoiceParameters boundValueParameters">

         <wsdl:input message="impl:generateSentenceRequest" name="generateSentenceRequest"/>

         <wsdl:output message="impl:generateSentenceResponse" name="generateSentenceResponse"/>

         <wsdl:fault message="impl:ServiceNotFoundException" name="ServiceNotFoundException"/>

         <wsdl:fault message="impl:UnsupportedLanguageException" name="UnsupportedLanguageException"/>

         <wsdl:fault message="impl:ServiceNotActiveException" name="ServiceNotActiveException"/>

         <wsdl:fault message="impl:NoValidEndpointsException" name="NoValidEndpointsException"/>

         <wsdl:fault message="impl:InvalidParameterException" name="InvalidParameterException"/>

         <wsdl:fault message="impl:ServerBusyException" name="ServerBusyException"/>

         <wsdl:fault message="impl:AccessLimitExceededException" name="AccessLimitExceededException"/>

         <wsdl:fault message="impl:ProcessFailedException" name="ProcessFailedException"/>

         <wsdl:fault message="impl:NoAccessPermissionException" name="NoAccessPermissionException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TemplateParallelTextSoapBinding" type="impl:TemplateParallelText">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="listTemplateCategories">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listTemplateCategoriesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://mock.webapps.langrid.nict.go.jp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="listTemplateCategoriesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/service-mock/services/TemplateParallelText" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ServiceNotFoundException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceNotFoundException" namespace="http://localhost:8080/service-mock/services/TemplateParallelText" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="UnsupportedLanguageException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UnsupportedLanguageException" namespace="http://localhost:8080/service-mock/services/TemplateParallelText" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceNotActiveException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceNotActiveException" namespace="http://localhost:8080/service-mock/services/TemplateParallelText" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoValidEndpointsException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoValidEndpointsException" namespace="http://localhost:8080/service-mock/services/TemplateParallelText" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="InvalidParameterException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InvalidParameterException" namespace="http://localhost:8080/service-mock/services/TemplateParallelText" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServerBusyException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServerBusyException" namespace="http://localhost:8080/service-mock/services/TemplateParallelText" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AccessLimitExceededException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AccessLimitExceededException" namespace="http://localhost:8080/service-mock/services/TemplateParallelText" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ProcessFailedException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProcessFailedException" namespace="http://localhost:8080/service-mock/services/TemplateParallelText" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoAccessPermissionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoAccessPermissionException" namespace="http://localhost:8080/service-mock/services/TemplateParallelText" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getCategoryNames">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCategoryNamesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://mock.webapps.langrid.nict.go.jp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getCategoryNamesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/service-mock/services/TemplateParallelText" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="InvalidParameterException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InvalidParameterException" namespace="http://localhost:8080/service-mock/services/TemplateParallelText" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ProcessFailedException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProcessFailedException" namespace="http://localhost:8080/service-mock/services/TemplateParallelText" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="searchTemplates">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchTemplatesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://mock.webapps.langrid.nict.go.jp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="searchTemplatesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/service-mock/services/TemplateParallelText" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ServiceNotFoundException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceNotFoundException" namespace="http://localhost:8080/service-mock/services/TemplateParallelText" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="UnsupportedLanguageException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UnsupportedLanguageException" namespace="http://localhost:8080/service-mock/services/TemplateParallelText" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceNotActiveException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceNotActiveException" namespace="http://localhost:8080/service-mock/services/TemplateParallelText" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoValidEndpointsException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoValidEndpointsException" namespace="http://localhost:8080/service-mock/services/TemplateParallelText" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="InvalidParameterException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InvalidParameterException" namespace="http://localhost:8080/service-mock/services/TemplateParallelText" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServerBusyException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServerBusyException" namespace="http://localhost:8080/service-mock/services/TemplateParallelText" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AccessLimitExceededException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AccessLimitExceededException" namespace="http://localhost:8080/service-mock/services/TemplateParallelText" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ProcessFailedException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProcessFailedException" namespace="http://localhost:8080/service-mock/services/TemplateParallelText" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoAccessPermissionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoAccessPermissionException" namespace="http://localhost:8080/service-mock/services/TemplateParallelText" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="UnsupportedMatchingMethodException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UnsupportedMatchingMethodException" namespace="http://localhost:8080/service-mock/services/TemplateParallelText" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getTemplatesByTemplateId">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTemplatesByTemplateIdRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://mock.webapps.langrid.nict.go.jp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getTemplatesByTemplateIdResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/service-mock/services/TemplateParallelText" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ServiceNotFoundException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceNotFoundException" namespace="http://localhost:8080/service-mock/services/TemplateParallelText" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="UnsupportedLanguageException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UnsupportedLanguageException" namespace="http://localhost:8080/service-mock/services/TemplateParallelText" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceNotActiveException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceNotActiveException" namespace="http://localhost:8080/service-mock/services/TemplateParallelText" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoValidEndpointsException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoValidEndpointsException" namespace="http://localhost:8080/service-mock/services/TemplateParallelText" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="InvalidParameterException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InvalidParameterException" namespace="http://localhost:8080/service-mock/services/TemplateParallelText" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServerBusyException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServerBusyException" namespace="http://localhost:8080/service-mock/services/TemplateParallelText" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AccessLimitExceededException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AccessLimitExceededException" namespace="http://localhost:8080/service-mock/services/TemplateParallelText" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ProcessFailedException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProcessFailedException" namespace="http://localhost:8080/service-mock/services/TemplateParallelText" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoAccessPermissionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoAccessPermissionException" namespace="http://localhost:8080/service-mock/services/TemplateParallelText" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="generateSentence">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="generateSentenceRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://mock.webapps.langrid.nict.go.jp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="generateSentenceResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/service-mock/services/TemplateParallelText" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ServiceNotFoundException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceNotFoundException" namespace="http://localhost:8080/service-mock/services/TemplateParallelText" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="UnsupportedLanguageException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UnsupportedLanguageException" namespace="http://localhost:8080/service-mock/services/TemplateParallelText" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceNotActiveException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceNotActiveException" namespace="http://localhost:8080/service-mock/services/TemplateParallelText" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoValidEndpointsException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoValidEndpointsException" namespace="http://localhost:8080/service-mock/services/TemplateParallelText" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="InvalidParameterException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InvalidParameterException" namespace="http://localhost:8080/service-mock/services/TemplateParallelText" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServerBusyException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServerBusyException" namespace="http://localhost:8080/service-mock/services/TemplateParallelText" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AccessLimitExceededException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AccessLimitExceededException" namespace="http://localhost:8080/service-mock/services/TemplateParallelText" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ProcessFailedException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProcessFailedException" namespace="http://localhost:8080/service-mock/services/TemplateParallelText" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoAccessPermissionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoAccessPermissionException" namespace="http://localhost:8080/service-mock/services/TemplateParallelText" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TemplateParallelTextService">

      <wsdl:port binding="impl:TemplateParallelTextSoapBinding" name="TemplateParallelText">

         <wsdlsoap:address location="http://localhost:8080/service-mock/services/TemplateParallelText"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>