jp.go.nict.langrid.client.ws_1_2.management/wsdls/TemporaryUserManagement.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement" xmlns:intf="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://langrid.nict.go.jp/ws_1_2/" xmlns:tns2="http://langrid.nict.go.jp/ws_1_2/foundation/usermanagement/" xmlns:tns3="http://langrid.nict.go.jp/ws_1_2/foundation/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDLはApache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)によって生成されました / [en]-(WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT))-->
 <wsdl:types>
  <schema targetNamespace="http://langrid.nict.go.jp/ws_1_2/" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://langrid.nict.go.jp/ws_1_2/foundation/"/>
   <import namespace="http://langrid.nict.go.jp/ws_1_2/foundation/usermanagement/"/>
   <import namespace="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="LangridException">
    <sequence>
     <element name="description" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="AccessLimitExceededException">
    <complexContent>
     <extension base="tns1:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="NoAccessPermissionException">
    <complexContent>
     <extension base="tns1:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ServiceConfigurationException">
    <complexContent>
     <extension base="tns1:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="UnknownException">
    <complexContent>
     <extension base="tns1:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="InvalidParameterException">
    <complexContent>
     <extension base="tns1:LangridException">
      <sequence>
       <element name="parameterName" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="UnsupportedMatchingMethodException">
    <complexContent>
     <extension base="tns1:InvalidParameterException">
      <sequence>
       <element name="matchingMethod" nillable="true" type="xsd:string"/>
       <element name="validMethods" nillable="true" type="impl:ArrayOf_xsd_string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="http://langrid.nict.go.jp/ws_1_2/foundation/usermanagement/" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://langrid.nict.go.jp/ws_1_2/foundation/"/>
   <import namespace="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement"/>
   <import namespace="http://langrid.nict.go.jp/ws_1_2/"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="InvalidUserIdException">
    <complexContent>
     <extension base="tns1:InvalidParameterException">
      <sequence>
       <element name="userId" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="UserNotFoundException">
    <complexContent>
     <extension base="tns1:LangridException">
      <sequence>
       <element name="userId" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="TemporaryUserEntry">
    <sequence>
     <element name="beginAvailableDateTime" nillable="true" type="xsd:dateTime"/>
     <element name="endAvailableDateTime" nillable="true" type="xsd:dateTime"/>
     <element name="userId" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="TemporaryUserEntrySearchResult">
    <complexContent>
     <extension base="tns3:SearchResult">
      <sequence>
       <element name="elements" nillable="true" type="impl:ArrayOf_tns2_TemporaryUserEntry"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="UserAlreadyExistsException">
    <complexContent>
     <extension base="tns1:LangridException">
      <sequence>
       <element name="userId" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://langrid.nict.go.jp/ws_1_2/foundation/"/>
   <import namespace="http://langrid.nict.go.jp/ws_1_2/foundation/usermanagement/"/>
   <import namespace="http://langrid.nict.go.jp/ws_1_2/"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_xsd_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns3_MatchingCondition">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns3:MatchingCondition[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns3_Order">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns3:Order[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns2_TemporaryUserEntry">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:TemporaryUserEntry[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="http://langrid.nict.go.jp/ws_1_2/foundation/" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://langrid.nict.go.jp/ws_1_2/foundation/usermanagement/"/>
   <import namespace="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement"/>
   <import namespace="http://langrid.nict.go.jp/ws_1_2/"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="MatchingCondition">
    <sequence>
     <element name="fieldName" nillable="true" type="xsd:string"/>
     <element name="matchingMethod" nillable="true" type="xsd:string"/>
     <element name="matchingValue" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Order">
    <sequence>
     <element name="direction" nillable="true" type="xsd:string"/>
     <element name="fieldName" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="SearchResult">
    <sequence>
     <element name="totalCount" type="xsd:int"/>
     <element name="totalCountFixed" type="xsd:boolean"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="clearExpiredUsersRequest">

   </wsdl:message>

   <wsdl:message name="getBeginAvailableDateTimeResponse">

      <wsdl:part name="getBeginAvailableDateTimeReturn" type="xsd:dateTime"/>

   </wsdl:message>

   <wsdl:message name="addTemporaryUserRequest">

      <wsdl:part name="userId" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="beginAvailableDateTime" type="xsd:dateTime"/>

   </wsdl:message>

   <wsdl:message name="clearRequest">

   </wsdl:message>

   <wsdl:message name="searchTemporaryUsersResponse">

      <wsdl:part name="searchTemporaryUsersReturn" type="tns2:TemporaryUserEntrySearchResult"/>

   </wsdl:message>

   <wsdl:message name="ServiceConfigurationException">

      <wsdl:part name="fault" type="tns1:ServiceConfigurationException"/>

   </wsdl:message>

   <wsdl:message name="UserAlreadyExistsException">

      <wsdl:part name="fault" type="tns2:UserAlreadyExistsException"/>

   </wsdl:message>

   <wsdl:message name="getEndAvailableDateTimeResponse">

      <wsdl:part name="getEndAvailableDateTimeReturn" type="xsd:dateTime"/>

   </wsdl:message>

   <wsdl:message name="InvalidUserIdException">

      <wsdl:part name="fault" type="tns2:InvalidUserIdException"/>

   </wsdl:message>

   <wsdl:message name="searchTemporaryUsersRequest">

      <wsdl:part name="startIndex" type="xsd:int"/>

      <wsdl:part name="maxCount" type="xsd:int"/>

      <wsdl:part name="conditions" type="impl:ArrayOf_tns3_MatchingCondition"/>

      <wsdl:part name="orders" type="impl:ArrayOf_tns3_Order"/>

   </wsdl:message>

   <wsdl:message name="NoAccessPermissionException">

      <wsdl:part name="fault" type="tns1:NoAccessPermissionException"/>

   </wsdl:message>

   <wsdl:message name="deleteTemporaryUserResponse">

   </wsdl:message>

   <wsdl:message name="getBeginAvailableDateTimeRequest">

      <wsdl:part name="userId" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="clearExpiredUsersResponse">

   </wsdl:message>

   <wsdl:message name="addTemporaryUserResponse">

   </wsdl:message>

   <wsdl:message name="clearResponse">

   </wsdl:message>

   <wsdl:message name="setAvailableDateTimesResponse">

   </wsdl:message>

   <wsdl:message name="UnknownException">

      <wsdl:part name="fault" type="tns1:UnknownException"/>

   </wsdl:message>

   <wsdl:message name="getEndAvailableDateTimeRequest">

      <wsdl:part name="userId" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="InvalidParameterException">

      <wsdl:part name="fault" type="tns1:InvalidParameterException"/>

   </wsdl:message>

   <wsdl:message name="deleteTemporaryUserRequest">

      <wsdl:part name="userId" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="AccessLimitExceededException">

      <wsdl:part name="fault" type="tns1:AccessLimitExceededException"/>

   </wsdl:message>

   <wsdl:message name="setAvailableDateTimesRequest">

      <wsdl:part name="userId" type="xsd:string"/>

      <wsdl:part name="beginAvailableDateTime" type="xsd:dateTime"/>

      <wsdl:part name="endAvailableDateTime" type="xsd:dateTime"/>

   </wsdl:message>

   <wsdl:message name="UserNotFoundException">

      <wsdl:part name="fault" type="tns2:UserNotFoundException"/>

   </wsdl:message>

   <wsdl:portType name="TemporaryUserManagement">

      <wsdl:operation name="clear">

         <wsdl:input message="impl:clearRequest" name="clearRequest"/>

         <wsdl:output message="impl:clearResponse" name="clearResponse"/>

         <wsdl:fault message="impl:UnknownException" name="UnknownException"/>

         <wsdl:fault message="impl:AccessLimitExceededException" name="AccessLimitExceededException"/>

         <wsdl:fault message="impl:NoAccessPermissionException" name="NoAccessPermissionException"/>

         <wsdl:fault message="impl:ServiceConfigurationException" name="ServiceConfigurationException"/>

      </wsdl:operation>

      <wsdl:operation name="clearExpiredUsers">

         <wsdl:input message="impl:clearExpiredUsersRequest" name="clearExpiredUsersRequest"/>

         <wsdl:output message="impl:clearExpiredUsersResponse" name="clearExpiredUsersResponse"/>

         <wsdl:fault message="impl:UnknownException" name="UnknownException"/>

         <wsdl:fault message="impl:AccessLimitExceededException" name="AccessLimitExceededException"/>

         <wsdl:fault message="impl:NoAccessPermissionException" name="NoAccessPermissionException"/>

         <wsdl:fault message="impl:ServiceConfigurationException" name="ServiceConfigurationException"/>

      </wsdl:operation>

      <wsdl:operation name="getBeginAvailableDateTime" parameterOrder="userId">

         <wsdl:input message="impl:getBeginAvailableDateTimeRequest" name="getBeginAvailableDateTimeRequest"/>

         <wsdl:output message="impl:getBeginAvailableDateTimeResponse" name="getBeginAvailableDateTimeResponse"/>

         <wsdl:fault message="impl:UnknownException" name="UnknownException"/>

         <wsdl:fault message="impl:InvalidParameterException" name="InvalidParameterException"/>

         <wsdl:fault message="impl:AccessLimitExceededException" name="AccessLimitExceededException"/>

         <wsdl:fault message="impl:NoAccessPermissionException" name="NoAccessPermissionException"/>

         <wsdl:fault message="impl:UserNotFoundException" name="UserNotFoundException"/>

         <wsdl:fault message="impl:ServiceConfigurationException" name="ServiceConfigurationException"/>

      </wsdl:operation>

      <wsdl:operation name="getEndAvailableDateTime" parameterOrder="userId">

         <wsdl:input message="impl:getEndAvailableDateTimeRequest" name="getEndAvailableDateTimeRequest"/>

         <wsdl:output message="impl:getEndAvailableDateTimeResponse" name="getEndAvailableDateTimeResponse"/>

         <wsdl:fault message="impl:UnknownException" name="UnknownException"/>

         <wsdl:fault message="impl:InvalidParameterException" name="InvalidParameterException"/>

         <wsdl:fault message="impl:AccessLimitExceededException" name="AccessLimitExceededException"/>

         <wsdl:fault message="impl:NoAccessPermissionException" name="NoAccessPermissionException"/>

         <wsdl:fault message="impl:UserNotFoundException" name="UserNotFoundException"/>

         <wsdl:fault message="impl:ServiceConfigurationException" name="ServiceConfigurationException"/>

      </wsdl:operation>

      <wsdl:operation name="searchTemporaryUsers" parameterOrder="startIndex maxCount conditions orders">

         <wsdl:input message="impl:searchTemporaryUsersRequest" name="searchTemporaryUsersRequest"/>

         <wsdl:output message="impl:searchTemporaryUsersResponse" name="searchTemporaryUsersResponse"/>

         <wsdl:fault message="impl:UnknownException" name="UnknownException"/>

         <wsdl:fault message="impl:InvalidParameterException" name="InvalidParameterException"/>

         <wsdl:fault message="impl:AccessLimitExceededException" name="AccessLimitExceededException"/>

         <wsdl:fault message="impl:NoAccessPermissionException" name="NoAccessPermissionException"/>

         <wsdl:fault message="impl:ServiceConfigurationException" name="ServiceConfigurationException"/>

      </wsdl:operation>

      <wsdl:operation name="addTemporaryUser" parameterOrder="userId password beginAvailableDateTime">

         <wsdl:input message="impl:addTemporaryUserRequest" name="addTemporaryUserRequest"/>

         <wsdl:output message="impl:addTemporaryUserResponse" name="addTemporaryUserResponse"/>

         <wsdl:fault message="impl:UserAlreadyExistsException" name="UserAlreadyExistsException"/>

         <wsdl:fault message="impl:UnknownException" name="UnknownException"/>

         <wsdl:fault message="impl:InvalidParameterException" name="InvalidParameterException"/>

         <wsdl:fault message="impl:AccessLimitExceededException" name="AccessLimitExceededException"/>

         <wsdl:fault message="impl:NoAccessPermissionException" name="NoAccessPermissionException"/>

         <wsdl:fault message="impl:InvalidUserIdException" name="InvalidUserIdException"/>

         <wsdl:fault message="impl:ServiceConfigurationException" name="ServiceConfigurationException"/>

      </wsdl:operation>

      <wsdl:operation name="deleteTemporaryUser" parameterOrder="userId">

         <wsdl:input message="impl:deleteTemporaryUserRequest" name="deleteTemporaryUserRequest"/>

         <wsdl:output message="impl:deleteTemporaryUserResponse" name="deleteTemporaryUserResponse"/>

         <wsdl:fault message="impl:UnknownException" name="UnknownException"/>

         <wsdl:fault message="impl:InvalidParameterException" name="InvalidParameterException"/>

         <wsdl:fault message="impl:AccessLimitExceededException" name="AccessLimitExceededException"/>

         <wsdl:fault message="impl:NoAccessPermissionException" name="NoAccessPermissionException"/>

         <wsdl:fault message="impl:UserNotFoundException" name="UserNotFoundException"/>

         <wsdl:fault message="impl:ServiceConfigurationException" name="ServiceConfigurationException"/>

      </wsdl:operation>

      <wsdl:operation name="setAvailableDateTimes" parameterOrder="userId beginAvailableDateTime endAvailableDateTime">

         <wsdl:input message="impl:setAvailableDateTimesRequest" name="setAvailableDateTimesRequest"/>

         <wsdl:output message="impl:setAvailableDateTimesResponse" name="setAvailableDateTimesResponse"/>

         <wsdl:fault message="impl:UnknownException" name="UnknownException"/>

         <wsdl:fault message="impl:InvalidParameterException" name="InvalidParameterException"/>

         <wsdl:fault message="impl:AccessLimitExceededException" name="AccessLimitExceededException"/>

         <wsdl:fault message="impl:NoAccessPermissionException" name="NoAccessPermissionException"/>

         <wsdl:fault message="impl:UserNotFoundException" name="UserNotFoundException"/>

         <wsdl:fault message="impl:ServiceConfigurationException" name="ServiceConfigurationException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TemporaryUserManagementSoapBinding" type="impl:TemporaryUserManagement">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="clear">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="clearRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://usermanagement.foundation.langrid.nict.go.jp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="clearResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="UnknownException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UnknownException" namespace="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AccessLimitExceededException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AccessLimitExceededException" namespace="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoAccessPermissionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoAccessPermissionException" namespace="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceConfigurationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceConfigurationException" namespace="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="clearExpiredUsers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="clearExpiredUsersRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://usermanagement.foundation.langrid.nict.go.jp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="clearExpiredUsersResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="UnknownException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UnknownException" namespace="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AccessLimitExceededException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AccessLimitExceededException" namespace="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoAccessPermissionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoAccessPermissionException" namespace="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceConfigurationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceConfigurationException" namespace="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getBeginAvailableDateTime">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getBeginAvailableDateTimeRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://usermanagement.foundation.langrid.nict.go.jp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getBeginAvailableDateTimeResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="UnknownException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UnknownException" namespace="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="InvalidParameterException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InvalidParameterException" namespace="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AccessLimitExceededException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AccessLimitExceededException" namespace="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoAccessPermissionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoAccessPermissionException" namespace="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="UserNotFoundException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UserNotFoundException" namespace="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceConfigurationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceConfigurationException" namespace="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getEndAvailableDateTime">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getEndAvailableDateTimeRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://usermanagement.foundation.langrid.nict.go.jp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getEndAvailableDateTimeResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="UnknownException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UnknownException" namespace="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="InvalidParameterException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InvalidParameterException" namespace="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AccessLimitExceededException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AccessLimitExceededException" namespace="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoAccessPermissionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoAccessPermissionException" namespace="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="UserNotFoundException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UserNotFoundException" namespace="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceConfigurationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceConfigurationException" namespace="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="searchTemporaryUsers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchTemporaryUsersRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://usermanagement.foundation.langrid.nict.go.jp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="searchTemporaryUsersResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="UnknownException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UnknownException" namespace="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="InvalidParameterException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InvalidParameterException" namespace="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AccessLimitExceededException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AccessLimitExceededException" namespace="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoAccessPermissionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoAccessPermissionException" namespace="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceConfigurationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceConfigurationException" namespace="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="addTemporaryUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addTemporaryUserRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://usermanagement.foundation.langrid.nict.go.jp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addTemporaryUserResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="UserAlreadyExistsException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UserAlreadyExistsException" namespace="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="UnknownException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UnknownException" namespace="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="InvalidParameterException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InvalidParameterException" namespace="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AccessLimitExceededException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AccessLimitExceededException" namespace="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoAccessPermissionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoAccessPermissionException" namespace="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="InvalidUserIdException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InvalidUserIdException" namespace="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceConfigurationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceConfigurationException" namespace="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="deleteTemporaryUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteTemporaryUserRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://usermanagement.foundation.langrid.nict.go.jp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="deleteTemporaryUserResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="UnknownException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UnknownException" namespace="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="InvalidParameterException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InvalidParameterException" namespace="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AccessLimitExceededException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AccessLimitExceededException" namespace="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoAccessPermissionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoAccessPermissionException" namespace="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="UserNotFoundException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UserNotFoundException" namespace="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceConfigurationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceConfigurationException" namespace="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="setAvailableDateTimes">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setAvailableDateTimesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://usermanagement.foundation.langrid.nict.go.jp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="setAvailableDateTimesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="UnknownException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UnknownException" namespace="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="InvalidParameterException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InvalidParameterException" namespace="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AccessLimitExceededException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AccessLimitExceededException" namespace="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoAccessPermissionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoAccessPermissionException" namespace="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="UserNotFoundException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UserNotFoundException" namespace="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceConfigurationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceConfigurationException" namespace="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TemporaryUserManagementService">

      <wsdl:port binding="impl:TemporaryUserManagementSoapBinding" name="TemporaryUserManagement">

         <wsdlsoap:address location="http://localhost:8080/langrid-1.2/services/TemporaryUserManagement"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
