jp.go.nict.langrid.client.ws_1_2.management/wsdls/UserManagement.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://localhost:8080/langrid-1.2/services/UserManagement" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://localhost:8080/langrid-1.2/services/UserManagement" xmlns:intf="http://localhost:8080/langrid-1.2/services/UserManagement" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://langrid.nict.go.jp/ws_1_2/" xmlns:tns2="http://langrid.nict.go.jp/ws_1_2/foundation/usermanagement/" xmlns:tns3="http://langrid.nict.go.jp/ws_1_2/foundation/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDLはApache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)によって生成されました / [en]-(WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT))-->
 <wsdl:types>
  <schema targetNamespace="http://langrid.nict.go.jp/ws_1_2/" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://langrid.nict.go.jp/ws_1_2/foundation/"/>
   <import namespace="http://langrid.nict.go.jp/ws_1_2/foundation/usermanagement/"/>
   <import namespace="http://localhost:8080/langrid-1.2/services/UserManagement"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="LangridException">
    <sequence>
     <element name="description" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="AccessLimitExceededException">
    <complexContent>
     <extension base="tns1:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="NoAccessPermissionException">
    <complexContent>
     <extension base="tns1:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ServiceConfigurationException">
    <complexContent>
     <extension base="tns1:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="UnknownException">
    <complexContent>
     <extension base="tns1:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="InvalidParameterException">
    <complexContent>
     <extension base="tns1:LangridException">
      <sequence>
       <element name="parameterName" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="UnsupportedMatchingMethodException">
    <complexContent>
     <extension base="tns1:InvalidParameterException">
      <sequence>
       <element name="matchingMethod" nillable="true" type="xsd:string"/>
       <element name="validMethods" nillable="true" type="impl:ArrayOf_xsd_string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="http://langrid.nict.go.jp/ws_1_2/foundation/usermanagement/" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://langrid.nict.go.jp/ws_1_2/foundation/"/>
   <import namespace="http://localhost:8080/langrid-1.2/services/UserManagement"/>
   <import namespace="http://langrid.nict.go.jp/ws_1_2/"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="UserProfile">
    <sequence>
     <element name="address" nillable="true" type="xsd:string"/>
     <element name="emailAddress" nillable="true" type="xsd:string"/>
     <element name="homepageUrl" nillable="true" type="xsd:string"/>
     <element name="organization" nillable="true" type="xsd:string"/>
     <element name="representative" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="InvalidUserIdException">
    <complexContent>
     <extension base="tns1:InvalidParameterException">
      <sequence>
       <element name="userId" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="UserAlreadyExistsException">
    <complexContent>
     <extension base="tns1:LangridException">
      <sequence>
       <element name="userId" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="UserNotFoundException">
    <complexContent>
     <extension base="tns1:LangridException">
      <sequence>
       <element name="userId" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="UserEntry">
    <sequence>
     <element name="address" nillable="true" type="xsd:string"/>
     <element name="emailAddress" nillable="true" type="xsd:string"/>
     <element name="homepageUrl" nillable="true" type="xsd:string"/>
     <element name="organization" nillable="true" type="xsd:string"/>
     <element name="registeredDate" nillable="true" type="xsd:dateTime"/>
     <element name="representative" nillable="true" type="xsd:string"/>
     <element name="updatedDate" nillable="true" type="xsd:dateTime"/>
     <element name="userId" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="UserEntrySearchResult">
    <complexContent>
     <extension base="tns3:SearchResult">
      <sequence>
       <element name="elements" nillable="true" type="impl:ArrayOf_tns2_UserEntry"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="http://langrid.nict.go.jp/ws_1_2/foundation/" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://langrid.nict.go.jp/ws_1_2/foundation/usermanagement/"/>
   <import namespace="http://localhost:8080/langrid-1.2/services/UserManagement"/>
   <import namespace="http://langrid.nict.go.jp/ws_1_2/"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="Attribute">
    <sequence>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="value" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="MatchingCondition">
    <sequence>
     <element name="fieldName" nillable="true" type="xsd:string"/>
     <element name="matchingMethod" nillable="true" type="xsd:string"/>
     <element name="matchingValue" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Order">
    <sequence>
     <element name="direction" nillable="true" type="xsd:string"/>
     <element name="fieldName" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="SearchResult">
    <sequence>
     <element name="totalCount" type="xsd:int"/>
     <element name="totalCountFixed" type="xsd:boolean"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="http://localhost:8080/langrid-1.2/services/UserManagement" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://langrid.nict.go.jp/ws_1_2/foundation/"/>
   <import namespace="http://langrid.nict.go.jp/ws_1_2/foundation/usermanagement/"/>
   <import namespace="http://langrid.nict.go.jp/ws_1_2/"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_tns3_Attribute">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns3:Attribute[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_xsd_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns3_MatchingCondition">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns3:MatchingCondition[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns3_Order">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns3:Order[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns2_UserEntry">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:UserEntry[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getUserPasswordRequest">

      <wsdl:part name="userId" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="setUserCanCallServicesResponse">

   </wsdl:message>

   <wsdl:message name="initializeResponse">

   </wsdl:message>

   <wsdl:message name="getUserCanCallServicesRequest">

      <wsdl:part name="userId" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="InvalidUserIdException">

      <wsdl:part name="fault" type="tns2:InvalidUserIdException"/>

   </wsdl:message>

   <wsdl:message name="deleteUserResponse">

   </wsdl:message>

   <wsdl:message name="addUserRequest">

      <wsdl:part name="userId" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="canCallServices" type="xsd:boolean"/>

      <wsdl:part name="profile" type="tns2:UserProfile"/>

      <wsdl:part name="attributes" type="impl:ArrayOf_tns3_Attribute"/>

   </wsdl:message>

   <wsdl:message name="searchUsersShouldChangePasswordResponse">

      <wsdl:part name="searchUsersShouldChangePasswordReturn" type="tns2:UserEntrySearchResult"/>

   </wsdl:message>

   <wsdl:message name="getUserAttributesRequest">

      <wsdl:part name="userId" type="xsd:string"/>

      <wsdl:part name="attributeNames" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="initializeRequest">

   </wsdl:message>

   <wsdl:message name="setUserPasswordResponse">

   </wsdl:message>

   <wsdl:message name="addUserResponse">

   </wsdl:message>

   <wsdl:message name="getUserPasswordResponse">

      <wsdl:part name="getUserPasswordReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="UserNotFoundException">

      <wsdl:part name="fault" type="tns2:UserNotFoundException"/>

   </wsdl:message>

   <wsdl:message name="getUserCanCallServicesResponse">

      <wsdl:part name="getUserCanCallServicesReturn" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="UnknownException">

      <wsdl:part name="fault" type="tns1:UnknownException"/>

   </wsdl:message>

   <wsdl:message name="searchUsersShouldChangePasswordRequest">

      <wsdl:part name="startIndex" type="xsd:int"/>

      <wsdl:part name="maxCount" type="xsd:int"/>

      <wsdl:part name="days" type="xsd:int"/>

      <wsdl:part name="orders" type="impl:ArrayOf_tns3_Order"/>

   </wsdl:message>

   <wsdl:message name="AccessLimitExceededException">

      <wsdl:part name="fault" type="tns1:AccessLimitExceededException"/>

   </wsdl:message>

   <wsdl:message name="searchUsersResponse">

      <wsdl:part name="searchUsersReturn" type="tns2:UserEntrySearchResult"/>

   </wsdl:message>

   <wsdl:message name="getUserProfileRequest">

      <wsdl:part name="userId" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="UnsupportedMatchingMethodException">

      <wsdl:part name="fault" type="tns1:UnsupportedMatchingMethodException"/>

   </wsdl:message>

   <wsdl:message name="setUserCanCallServicesRequest">

      <wsdl:part name="userId" type="xsd:string"/>

      <wsdl:part name="canCallServices" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="searchUsersRequest">

      <wsdl:part name="startIndex" type="xsd:int"/>

      <wsdl:part name="maxCount" type="xsd:int"/>

      <wsdl:part name="conditions" type="impl:ArrayOf_tns3_MatchingCondition"/>

      <wsdl:part name="orders" type="impl:ArrayOf_tns3_Order"/>

   </wsdl:message>

   <wsdl:message name="NoAccessPermissionException">

      <wsdl:part name="fault" type="tns1:NoAccessPermissionException"/>

   </wsdl:message>

   <wsdl:message name="getUserProfileResponse">

      <wsdl:part name="getUserProfileReturn" type="tns2:UserProfile"/>

   </wsdl:message>

   <wsdl:message name="UserAlreadyExistsException">

      <wsdl:part name="fault" type="tns2:UserAlreadyExistsException"/>

   </wsdl:message>

   <wsdl:message name="deleteUserRequest">

      <wsdl:part name="userId" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="clearRequest">

   </wsdl:message>

   <wsdl:message name="getPasswordChangedDateRequest">

      <wsdl:part name="userId" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="setUserAttributesRequest">

      <wsdl:part name="userId" type="xsd:string"/>

      <wsdl:part name="attributes" type="impl:ArrayOf_tns3_Attribute"/>

   </wsdl:message>

   <wsdl:message name="ServiceConfigurationException">

      <wsdl:part name="fault" type="tns1:ServiceConfigurationException"/>

   </wsdl:message>

   <wsdl:message name="setUserProfileResponse">

   </wsdl:message>

   <wsdl:message name="getUserDigestedPasswordRequest">

      <wsdl:part name="userId" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getUserAttributesResponse">

      <wsdl:part name="getUserAttributesReturn" type="impl:ArrayOf_tns3_Attribute"/>

   </wsdl:message>

   <wsdl:message name="getPasswordChangedDateResponse">

      <wsdl:part name="getPasswordChangedDateReturn" type="xsd:dateTime"/>

   </wsdl:message>

   <wsdl:message name="setUserPasswordRequest">

      <wsdl:part name="userId" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="InvalidParameterException">

      <wsdl:part name="fault" type="tns1:InvalidParameterException"/>

   </wsdl:message>

   <wsdl:message name="setUserProfileRequest">

      <wsdl:part name="userId" type="xsd:string"/>

      <wsdl:part name="profile" type="tns2:UserProfile"/>

   </wsdl:message>

   <wsdl:message name="getUserDigestedPasswordResponse">

      <wsdl:part name="getUserDigestedPasswordReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="setUserAttributesResponse">

   </wsdl:message>

   <wsdl:message name="clearResponse">

   </wsdl:message>

   <wsdl:portType name="UserManagement">

      <wsdl:operation name="clear">

         <wsdl:input message="impl:clearRequest" name="clearRequest"/>

         <wsdl:output message="impl:clearResponse" name="clearResponse"/>

         <wsdl:fault message="impl:UnknownException" name="UnknownException"/>

         <wsdl:fault message="impl:AccessLimitExceededException" name="AccessLimitExceededException"/>

         <wsdl:fault message="impl:NoAccessPermissionException" name="NoAccessPermissionException"/>

         <wsdl:fault message="impl:ServiceConfigurationException" name="ServiceConfigurationException"/>

      </wsdl:operation>

      <wsdl:operation name="initialize">

         <wsdl:input message="impl:initializeRequest" name="initializeRequest"/>

         <wsdl:output message="impl:initializeResponse" name="initializeResponse"/>

         <wsdl:fault message="impl:UnknownException" name="UnknownException"/>

         <wsdl:fault message="impl:AccessLimitExceededException" name="AccessLimitExceededException"/>

         <wsdl:fault message="impl:NoAccessPermissionException" name="NoAccessPermissionException"/>

         <wsdl:fault message="impl:ServiceConfigurationException" name="ServiceConfigurationException"/>

      </wsdl:operation>

      <wsdl:operation name="addUser" parameterOrder="userId password canCallServices profile attributes">

         <wsdl:input message="impl:addUserRequest" name="addUserRequest"/>

         <wsdl:output message="impl:addUserResponse" name="addUserResponse"/>

         <wsdl:fault message="impl:UserAlreadyExistsException" name="UserAlreadyExistsException"/>

         <wsdl:fault message="impl:UnknownException" name="UnknownException"/>

         <wsdl:fault message="impl:InvalidParameterException" name="InvalidParameterException"/>

         <wsdl:fault message="impl:AccessLimitExceededException" name="AccessLimitExceededException"/>

         <wsdl:fault message="impl:NoAccessPermissionException" name="NoAccessPermissionException"/>

         <wsdl:fault message="impl:InvalidUserIdException" name="InvalidUserIdException"/>

         <wsdl:fault message="impl:ServiceConfigurationException" name="ServiceConfigurationException"/>

      </wsdl:operation>

      <wsdl:operation name="setUserCanCallServices" parameterOrder="userId canCallServices">

         <wsdl:input message="impl:setUserCanCallServicesRequest" name="setUserCanCallServicesRequest"/>

         <wsdl:output message="impl:setUserCanCallServicesResponse" name="setUserCanCallServicesResponse"/>

         <wsdl:fault message="impl:UnknownException" name="UnknownException"/>

         <wsdl:fault message="impl:InvalidParameterException" name="InvalidParameterException"/>

         <wsdl:fault message="impl:AccessLimitExceededException" name="AccessLimitExceededException"/>

         <wsdl:fault message="impl:NoAccessPermissionException" name="NoAccessPermissionException"/>

         <wsdl:fault message="impl:UserNotFoundException" name="UserNotFoundException"/>

         <wsdl:fault message="impl:ServiceConfigurationException" name="ServiceConfigurationException"/>

      </wsdl:operation>

      <wsdl:operation name="searchUsers" parameterOrder="startIndex maxCount conditions orders">

         <wsdl:input message="impl:searchUsersRequest" name="searchUsersRequest"/>

         <wsdl:output message="impl:searchUsersResponse" name="searchUsersResponse"/>

         <wsdl:fault message="impl:UnknownException" name="UnknownException"/>

         <wsdl:fault message="impl:InvalidParameterException" name="InvalidParameterException"/>

         <wsdl:fault message="impl:AccessLimitExceededException" name="AccessLimitExceededException"/>

         <wsdl:fault message="impl:NoAccessPermissionException" name="NoAccessPermissionException"/>

         <wsdl:fault message="impl:UnsupportedMatchingMethodException" name="UnsupportedMatchingMethodException"/>

         <wsdl:fault message="impl:ServiceConfigurationException" name="ServiceConfigurationException"/>

      </wsdl:operation>

      <wsdl:operation name="deleteUser" parameterOrder="userId">

         <wsdl:input message="impl:deleteUserRequest" name="deleteUserRequest"/>

         <wsdl:output message="impl:deleteUserResponse" name="deleteUserResponse"/>

         <wsdl:fault message="impl:UnknownException" name="UnknownException"/>

         <wsdl:fault message="impl:InvalidParameterException" name="InvalidParameterException"/>

         <wsdl:fault message="impl:AccessLimitExceededException" name="AccessLimitExceededException"/>

         <wsdl:fault message="impl:NoAccessPermissionException" name="NoAccessPermissionException"/>

         <wsdl:fault message="impl:UserNotFoundException" name="UserNotFoundException"/>

         <wsdl:fault message="impl:ServiceConfigurationException" name="ServiceConfigurationException"/>

      </wsdl:operation>

      <wsdl:operation name="searchUsersShouldChangePassword" parameterOrder="startIndex maxCount days orders">

         <wsdl:input message="impl:searchUsersShouldChangePasswordRequest" name="searchUsersShouldChangePasswordRequest"/>

         <wsdl:output message="impl:searchUsersShouldChangePasswordResponse" name="searchUsersShouldChangePasswordResponse"/>

         <wsdl:fault message="impl:UnknownException" name="UnknownException"/>

         <wsdl:fault message="impl:InvalidParameterException" name="InvalidParameterException"/>

         <wsdl:fault message="impl:AccessLimitExceededException" name="AccessLimitExceededException"/>

         <wsdl:fault message="impl:NoAccessPermissionException" name="NoAccessPermissionException"/>

         <wsdl:fault message="impl:ServiceConfigurationException" name="ServiceConfigurationException"/>

      </wsdl:operation>

      <wsdl:operation name="getPasswordChangedDate" parameterOrder="userId">

         <wsdl:input message="impl:getPasswordChangedDateRequest" name="getPasswordChangedDateRequest"/>

         <wsdl:output message="impl:getPasswordChangedDateResponse" name="getPasswordChangedDateResponse"/>

         <wsdl:fault message="impl:UnknownException" name="UnknownException"/>

         <wsdl:fault message="impl:InvalidParameterException" name="InvalidParameterException"/>

         <wsdl:fault message="impl:AccessLimitExceededException" name="AccessLimitExceededException"/>

         <wsdl:fault message="impl:NoAccessPermissionException" name="NoAccessPermissionException"/>

         <wsdl:fault message="impl:UserNotFoundException" name="UserNotFoundException"/>

         <wsdl:fault message="impl:ServiceConfigurationException" name="ServiceConfigurationException"/>

      </wsdl:operation>

      <wsdl:operation name="getUserProfile" parameterOrder="userId">

         <wsdl:input message="impl:getUserProfileRequest" name="getUserProfileRequest"/>

         <wsdl:output message="impl:getUserProfileResponse" name="getUserProfileResponse"/>

         <wsdl:fault message="impl:UnknownException" name="UnknownException"/>

         <wsdl:fault message="impl:InvalidParameterException" name="InvalidParameterException"/>

         <wsdl:fault message="impl:AccessLimitExceededException" name="AccessLimitExceededException"/>

         <wsdl:fault message="impl:NoAccessPermissionException" name="NoAccessPermissionException"/>

         <wsdl:fault message="impl:UserNotFoundException" name="UserNotFoundException"/>

         <wsdl:fault message="impl:ServiceConfigurationException" name="ServiceConfigurationException"/>

      </wsdl:operation>

      <wsdl:operation name="setUserProfile" parameterOrder="userId profile">

         <wsdl:input message="impl:setUserProfileRequest" name="setUserProfileRequest"/>

         <wsdl:output message="impl:setUserProfileResponse" name="setUserProfileResponse"/>

         <wsdl:fault message="impl:UnknownException" name="UnknownException"/>

         <wsdl:fault message="impl:InvalidParameterException" name="InvalidParameterException"/>

         <wsdl:fault message="impl:AccessLimitExceededException" name="AccessLimitExceededException"/>

         <wsdl:fault message="impl:NoAccessPermissionException" name="NoAccessPermissionException"/>

         <wsdl:fault message="impl:UserNotFoundException" name="UserNotFoundException"/>

         <wsdl:fault message="impl:ServiceConfigurationException" name="ServiceConfigurationException"/>

      </wsdl:operation>

      <wsdl:operation name="getUserAttributes" parameterOrder="userId attributeNames">

         <wsdl:input message="impl:getUserAttributesRequest" name="getUserAttributesRequest"/>

         <wsdl:output message="impl:getUserAttributesResponse" name="getUserAttributesResponse"/>

         <wsdl:fault message="impl:UnknownException" name="UnknownException"/>

         <wsdl:fault message="impl:InvalidParameterException" name="InvalidParameterException"/>

         <wsdl:fault message="impl:AccessLimitExceededException" name="AccessLimitExceededException"/>

         <wsdl:fault message="impl:NoAccessPermissionException" name="NoAccessPermissionException"/>

         <wsdl:fault message="impl:UserNotFoundException" name="UserNotFoundException"/>

         <wsdl:fault message="impl:ServiceConfigurationException" name="ServiceConfigurationException"/>

      </wsdl:operation>

      <wsdl:operation name="setUserAttributes" parameterOrder="userId attributes">

         <wsdl:input message="impl:setUserAttributesRequest" name="setUserAttributesRequest"/>

         <wsdl:output message="impl:setUserAttributesResponse" name="setUserAttributesResponse"/>

         <wsdl:fault message="impl:UnknownException" name="UnknownException"/>

         <wsdl:fault message="impl:InvalidParameterException" name="InvalidParameterException"/>

         <wsdl:fault message="impl:AccessLimitExceededException" name="AccessLimitExceededException"/>

         <wsdl:fault message="impl:NoAccessPermissionException" name="NoAccessPermissionException"/>

         <wsdl:fault message="impl:UserNotFoundException" name="UserNotFoundException"/>

         <wsdl:fault message="impl:ServiceConfigurationException" name="ServiceConfigurationException"/>

      </wsdl:operation>

      <wsdl:operation name="setUserPassword" parameterOrder="userId password">

         <wsdl:input message="impl:setUserPasswordRequest" name="setUserPasswordRequest"/>

         <wsdl:output message="impl:setUserPasswordResponse" name="setUserPasswordResponse"/>

         <wsdl:fault message="impl:UnknownException" name="UnknownException"/>

         <wsdl:fault message="impl:InvalidParameterException" name="InvalidParameterException"/>

         <wsdl:fault message="impl:AccessLimitExceededException" name="AccessLimitExceededException"/>

         <wsdl:fault message="impl:NoAccessPermissionException" name="NoAccessPermissionException"/>

         <wsdl:fault message="impl:UserNotFoundException" name="UserNotFoundException"/>

         <wsdl:fault message="impl:ServiceConfigurationException" name="ServiceConfigurationException"/>

      </wsdl:operation>

      <wsdl:operation name="getUserPassword" parameterOrder="userId">

         <wsdl:input message="impl:getUserPasswordRequest" name="getUserPasswordRequest"/>

         <wsdl:output message="impl:getUserPasswordResponse" name="getUserPasswordResponse"/>

         <wsdl:fault message="impl:UnknownException" name="UnknownException"/>

         <wsdl:fault message="impl:InvalidParameterException" name="InvalidParameterException"/>

         <wsdl:fault message="impl:AccessLimitExceededException" name="AccessLimitExceededException"/>

         <wsdl:fault message="impl:NoAccessPermissionException" name="NoAccessPermissionException"/>

         <wsdl:fault message="impl:UserNotFoundException" name="UserNotFoundException"/>

         <wsdl:fault message="impl:ServiceConfigurationException" name="ServiceConfigurationException"/>

      </wsdl:operation>

      <wsdl:operation name="getUserDigestedPassword" parameterOrder="userId">

         <wsdl:input message="impl:getUserDigestedPasswordRequest" name="getUserDigestedPasswordRequest"/>

         <wsdl:output message="impl:getUserDigestedPasswordResponse" name="getUserDigestedPasswordResponse"/>

         <wsdl:fault message="impl:UnknownException" name="UnknownException"/>

         <wsdl:fault message="impl:InvalidParameterException" name="InvalidParameterException"/>

         <wsdl:fault message="impl:AccessLimitExceededException" name="AccessLimitExceededException"/>

         <wsdl:fault message="impl:NoAccessPermissionException" name="NoAccessPermissionException"/>

         <wsdl:fault message="impl:UserNotFoundException" name="UserNotFoundException"/>

         <wsdl:fault message="impl:ServiceConfigurationException" name="ServiceConfigurationException"/>

      </wsdl:operation>

      <wsdl:operation name="getUserCanCallServices" parameterOrder="userId">

         <wsdl:input message="impl:getUserCanCallServicesRequest" name="getUserCanCallServicesRequest"/>

         <wsdl:output message="impl:getUserCanCallServicesResponse" name="getUserCanCallServicesResponse"/>

         <wsdl:fault message="impl:UnknownException" name="UnknownException"/>

         <wsdl:fault message="impl:InvalidParameterException" name="InvalidParameterException"/>

         <wsdl:fault message="impl:AccessLimitExceededException" name="AccessLimitExceededException"/>

         <wsdl:fault message="impl:NoAccessPermissionException" name="NoAccessPermissionException"/>

         <wsdl:fault message="impl:UserNotFoundException" name="UserNotFoundException"/>

         <wsdl:fault message="impl:ServiceConfigurationException" name="ServiceConfigurationException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UserManagementSoapBinding" type="impl:UserManagement">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="clear">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="clearRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://usermanagement.foundation.langrid.nict.go.jp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="clearResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="UnknownException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UnknownException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AccessLimitExceededException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AccessLimitExceededException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoAccessPermissionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoAccessPermissionException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceConfigurationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceConfigurationException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="initialize">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="initializeRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://usermanagement.foundation.langrid.nict.go.jp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="initializeResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="UnknownException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UnknownException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AccessLimitExceededException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AccessLimitExceededException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoAccessPermissionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoAccessPermissionException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceConfigurationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceConfigurationException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="addUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addUserRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://usermanagement.foundation.langrid.nict.go.jp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addUserResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="UserAlreadyExistsException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UserAlreadyExistsException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="UnknownException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UnknownException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="InvalidParameterException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InvalidParameterException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AccessLimitExceededException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AccessLimitExceededException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoAccessPermissionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoAccessPermissionException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="InvalidUserIdException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InvalidUserIdException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceConfigurationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceConfigurationException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="setUserCanCallServices">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setUserCanCallServicesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://usermanagement.foundation.langrid.nict.go.jp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="setUserCanCallServicesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="UnknownException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UnknownException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="InvalidParameterException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InvalidParameterException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AccessLimitExceededException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AccessLimitExceededException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoAccessPermissionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoAccessPermissionException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="UserNotFoundException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UserNotFoundException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceConfigurationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceConfigurationException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="searchUsers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchUsersRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://usermanagement.foundation.langrid.nict.go.jp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="searchUsersResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="UnknownException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UnknownException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="InvalidParameterException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InvalidParameterException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AccessLimitExceededException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AccessLimitExceededException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoAccessPermissionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoAccessPermissionException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="UnsupportedMatchingMethodException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UnsupportedMatchingMethodException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceConfigurationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceConfigurationException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="deleteUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteUserRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://usermanagement.foundation.langrid.nict.go.jp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="deleteUserResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="UnknownException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UnknownException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="InvalidParameterException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InvalidParameterException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AccessLimitExceededException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AccessLimitExceededException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoAccessPermissionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoAccessPermissionException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="UserNotFoundException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UserNotFoundException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceConfigurationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceConfigurationException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="searchUsersShouldChangePassword">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchUsersShouldChangePasswordRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://usermanagement.foundation.langrid.nict.go.jp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="searchUsersShouldChangePasswordResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="UnknownException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UnknownException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="InvalidParameterException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InvalidParameterException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AccessLimitExceededException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AccessLimitExceededException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoAccessPermissionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoAccessPermissionException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceConfigurationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceConfigurationException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getPasswordChangedDate">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPasswordChangedDateRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://usermanagement.foundation.langrid.nict.go.jp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getPasswordChangedDateResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="UnknownException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UnknownException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="InvalidParameterException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InvalidParameterException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AccessLimitExceededException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AccessLimitExceededException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoAccessPermissionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoAccessPermissionException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="UserNotFoundException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UserNotFoundException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceConfigurationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceConfigurationException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getUserProfile">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserProfileRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://usermanagement.foundation.langrid.nict.go.jp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getUserProfileResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="UnknownException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UnknownException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="InvalidParameterException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InvalidParameterException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AccessLimitExceededException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AccessLimitExceededException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoAccessPermissionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoAccessPermissionException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="UserNotFoundException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UserNotFoundException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceConfigurationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceConfigurationException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="setUserProfile">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setUserProfileRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://usermanagement.foundation.langrid.nict.go.jp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="setUserProfileResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="UnknownException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UnknownException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="InvalidParameterException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InvalidParameterException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AccessLimitExceededException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AccessLimitExceededException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoAccessPermissionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoAccessPermissionException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="UserNotFoundException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UserNotFoundException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceConfigurationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceConfigurationException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getUserAttributes">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserAttributesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://usermanagement.foundation.langrid.nict.go.jp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getUserAttributesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="UnknownException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UnknownException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="InvalidParameterException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InvalidParameterException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AccessLimitExceededException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AccessLimitExceededException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoAccessPermissionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoAccessPermissionException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="UserNotFoundException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UserNotFoundException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceConfigurationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceConfigurationException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="setUserAttributes">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setUserAttributesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://usermanagement.foundation.langrid.nict.go.jp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="setUserAttributesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="UnknownException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UnknownException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="InvalidParameterException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InvalidParameterException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AccessLimitExceededException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AccessLimitExceededException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoAccessPermissionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoAccessPermissionException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="UserNotFoundException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UserNotFoundException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceConfigurationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceConfigurationException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="setUserPassword">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setUserPasswordRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://usermanagement.foundation.langrid.nict.go.jp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="setUserPasswordResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="UnknownException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UnknownException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="InvalidParameterException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InvalidParameterException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AccessLimitExceededException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AccessLimitExceededException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoAccessPermissionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoAccessPermissionException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="UserNotFoundException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UserNotFoundException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceConfigurationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceConfigurationException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getUserPassword">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserPasswordRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://usermanagement.foundation.langrid.nict.go.jp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getUserPasswordResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="UnknownException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UnknownException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="InvalidParameterException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InvalidParameterException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AccessLimitExceededException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AccessLimitExceededException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoAccessPermissionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoAccessPermissionException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="UserNotFoundException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UserNotFoundException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceConfigurationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceConfigurationException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getUserDigestedPassword">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserDigestedPasswordRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://usermanagement.foundation.langrid.nict.go.jp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getUserDigestedPasswordResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="UnknownException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UnknownException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="InvalidParameterException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InvalidParameterException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AccessLimitExceededException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AccessLimitExceededException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoAccessPermissionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoAccessPermissionException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="UserNotFoundException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UserNotFoundException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceConfigurationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceConfigurationException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getUserCanCallServices">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserCanCallServicesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://usermanagement.foundation.langrid.nict.go.jp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getUserCanCallServicesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="UnknownException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UnknownException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="InvalidParameterException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InvalidParameterException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AccessLimitExceededException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AccessLimitExceededException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoAccessPermissionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoAccessPermissionException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="UserNotFoundException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UserNotFoundException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceConfigurationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceConfigurationException" namespace="http://localhost:8080/langrid-1.2/services/UserManagement" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UserManagementService">

      <wsdl:port binding="impl:UserManagementSoapBinding" name="UserManagement">

         <wsdlsoap:address location="http://localhost:8080/langrid-1.2/services/UserManagement"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>