modules/stubs/wsdls/ActiveBpelDeployBPR-ae-5.0.2.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://docs.active-endpoints/wsdl/activebpeladmin/2007/01/activebpeladmin.wsdl" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://docs.active-endpoints/wsdl/activebpeladmin/2007/01/activebpeladmin.wsdl" xmlns:intf="http://docs.active-endpoints/wsdl/activebpeladmin/2007/01/activebpeladmin.wsdl" xmlns:tns1="http://schemas.active-endpoints.com/activebpeladmin/2007/01/activebpeladmin.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDLはApache Axis version: 1.4
Built on Dec 20, 2006 (01:34:32 EST)によって生成されました / [en]-(WSDL created by Apache Axis version: 1.4
Built on Dec 20, 2006 (01:34:32 EST))-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://schemas.active-endpoints.com/activebpeladmin/2007/01/activebpeladmin.xsd" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="AesDeployBprType">
    <sequence>
     <element name="bprFilename" type="xsd:string"/>
     <element name="base64File" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="deployBprInput" type="tns1:AesDeployBprType"/>
   <complexType name="AesStringResponseType">
    <sequence>
     <element name="response" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="deployBprOutput" type="tns1:AesStringResponseType"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="DeployBprResponse">

      <wsdl:part element="tns1:deployBprOutput" name="deployBprOutput"/>

   </wsdl:message>

   <wsdl:message name="DeployBprRequest">

      <wsdl:part element="tns1:deployBprInput" name="deployBprInput"/>

   </wsdl:message>

   <wsdl:portType name="IAeActiveBpelAdmin">

      <wsdl:operation name="DeployBpr" parameterOrder="deployBprInput">

         <wsdl:input message="impl:DeployBprRequest" name="DeployBprRequest"/>

         <wsdl:output message="impl:DeployBprResponse" name="DeployBprResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ActiveBpelAdminPortSoapBinding" type="impl:IAeActiveBpelAdmin">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="DeployBpr">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="DeployBprRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="DeployBprResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ActiveBpelAdmin">

      <wsdl:port binding="impl:ActiveBpelAdminPortSoapBinding" name="ActiveBpelAdminPort">

         <wsdlsoap:address location="http://localhost:8082/active-bpel/services/ActiveBpelDeployBPR"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>