jp.go.nict.langrid.webapps.langrid-core.nlp/WebContent/WEB-INF/init/domains/nict.nlp/serviceTypes/SpeechRecognition.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://localhost:8080/wrapper-mock/services/SpeechRecognition" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://localhost:8080/wrapper-mock/services/SpeechRecognition" xmlns:intf="http://localhost:8080/wrapper-mock/services/SpeechRecognition" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://langrid.nict.go.jp/ws_1_2/" xmlns:tns2="http://langrid.nict.go.jp/ws_1_2/texttospeech/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema targetNamespace="http://localhost:8080/wrapper-mock/services/SpeechRecognition" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://langrid.nict.go.jp/ws_1_2/"/>
   <import namespace="http://langrid.nict.go.jp/ws_1_2/texttospeech/"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_xsd_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="http://langrid.nict.go.jp/ws_1_2/" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://localhost:8080/wrapper-mock/services/SpeechRecognition"/>
   <import namespace="http://langrid.nict.go.jp/ws_1_2/texttospeech/"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="LangridException">
    <sequence>
     <element name="description" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="NoValidEndpointsException">
    <complexContent>
     <extension base="tns1:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ProcessFailedException">
    <complexContent>
     <extension base="tns1:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ServerBusyException">
    <complexContent>
     <extension base="tns1:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ServiceNotActiveException">
    <complexContent>
     <extension base="tns1:LangridException">
      <sequence>
       <element name="serviceId" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ServiceNotFoundException">
    <complexContent>
     <extension base="tns1:LangridException">
      <sequence>
       <element name="serviceId" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="AccessLimitExceededException">
    <complexContent>
     <extension base="tns1:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="InvalidParameterException">
    <complexContent>
     <extension base="tns1:LangridException">
      <sequence>
       <element name="parameterName" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="UnsupportedLanguageException">
    <complexContent>
     <extension base="tns1:InvalidParameterException">
      <sequence>
       <element name="language" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="NoAccessPermissionException">
    <complexContent>
     <extension base="tns1:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="http://langrid.nict.go.jp/ws_1_2/texttospeech/" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://localhost:8080/wrapper-mock/services/SpeechRecognition"/>
   <import namespace="http://langrid.nict.go.jp/ws_1_2/"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="Speech">
    <sequence>
     <element name="audio" nillable="true" type="xsd:base64Binary"/>
     <element name="audioType" nillable="true" type="xsd:string"/>
     <element name="voiceType" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="recognizeRequest">

      <wsdl:part name="language" type="xsd:string"/>

      <wsdl:part name="speech" type="tns2:Speech"/>

   </wsdl:message>

   <wsdl:message name="getSupportedLanguagesRequest">

   </wsdl:message>

   <wsdl:message name="getSupportedAudioTypesRequest">

   </wsdl:message>

   <wsdl:message name="getSupportedVoiceTypesRequest">

   </wsdl:message>

   <wsdl:message name="ServerBusyException">

      <wsdl:part name="fault" type="tns1:ServerBusyException"/>

   </wsdl:message>

   <wsdl:message name="ServiceNotFoundException">

      <wsdl:part name="fault" type="tns1:ServiceNotFoundException"/>

   </wsdl:message>

   <wsdl:message name="ServiceNotActiveException">

      <wsdl:part name="fault" type="tns1:ServiceNotActiveException"/>

   </wsdl:message>

   <wsdl:message name="UnsupportedLanguageException">

      <wsdl:part name="fault" type="tns1:UnsupportedLanguageException"/>

   </wsdl:message>

   <wsdl:message name="NoAccessPermissionException">

      <wsdl:part name="fault" type="tns1:NoAccessPermissionException"/>

   </wsdl:message>

   <wsdl:message name="getSupportedAudioTypesResponse">

      <wsdl:part name="getSupportedAudioTypesReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="recognizeResponse">

      <wsdl:part name="recognizeReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getSupportedVoiceTypesResponse">

      <wsdl:part name="getSupportedVoiceTypesReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="AccessLimitExceededException">

      <wsdl:part name="fault" type="tns1:AccessLimitExceededException"/>

   </wsdl:message>

   <wsdl:message name="getSupportedLanguagesResponse">

      <wsdl:part name="getSupportedLanguagesReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="NoValidEndpointsException">

      <wsdl:part name="fault" type="tns1:NoValidEndpointsException"/>

   </wsdl:message>

   <wsdl:message name="InvalidParameterException">

      <wsdl:part name="fault" type="tns1:InvalidParameterException"/>

   </wsdl:message>

   <wsdl:message name="ProcessFailedException">

      <wsdl:part name="fault" type="tns1:ProcessFailedException"/>

   </wsdl:message>

   <wsdl:portType name="SpeechRecognitionService">

      <wsdl:operation name="getSupportedLanguages">

         <wsdl:input message="impl:getSupportedLanguagesRequest" name="getSupportedLanguagesRequest"/>

         <wsdl:output message="impl:getSupportedLanguagesResponse" name="getSupportedLanguagesResponse"/>

         <wsdl:fault message="impl:ServiceNotFoundException" name="ServiceNotFoundException"/>

         <wsdl:fault message="impl:ServiceNotActiveException" name="ServiceNotActiveException"/>

         <wsdl:fault message="impl:NoValidEndpointsException" name="NoValidEndpointsException"/>

         <wsdl:fault message="impl:ServerBusyException" name="ServerBusyException"/>

         <wsdl:fault message="impl:ProcessFailedException" name="ProcessFailedException"/>

      </wsdl:operation>

      <wsdl:operation name="recognize" parameterOrder="language speech">

         <wsdl:input message="impl:recognizeRequest" name="recognizeRequest"/>

         <wsdl:output message="impl:recognizeResponse" name="recognizeResponse"/>

         <wsdl:fault message="impl:ServiceNotFoundException" name="ServiceNotFoundException"/>

         <wsdl:fault message="impl:UnsupportedLanguageException" name="UnsupportedLanguageException"/>

         <wsdl:fault message="impl:ServiceNotActiveException" name="ServiceNotActiveException"/>

         <wsdl:fault message="impl:NoValidEndpointsException" name="NoValidEndpointsException"/>

         <wsdl:fault message="impl:InvalidParameterException" name="InvalidParameterException"/>

         <wsdl:fault message="impl:ServerBusyException" name="ServerBusyException"/>

         <wsdl:fault message="impl:AccessLimitExceededException" name="AccessLimitExceededException"/>

         <wsdl:fault message="impl:ProcessFailedException" name="ProcessFailedException"/>

         <wsdl:fault message="impl:NoAccessPermissionException" name="NoAccessPermissionException"/>

      </wsdl:operation>

      <wsdl:operation name="getSupportedVoiceTypes">

         <wsdl:input message="impl:getSupportedVoiceTypesRequest" name="getSupportedVoiceTypesRequest"/>

         <wsdl:output message="impl:getSupportedVoiceTypesResponse" name="getSupportedVoiceTypesResponse"/>

         <wsdl:fault message="impl:ServiceNotFoundException" name="ServiceNotFoundException"/>

         <wsdl:fault message="impl:ServiceNotActiveException" name="ServiceNotActiveException"/>

         <wsdl:fault message="impl:NoValidEndpointsException" name="NoValidEndpointsException"/>

         <wsdl:fault message="impl:ServerBusyException" name="ServerBusyException"/>

         <wsdl:fault message="impl:ProcessFailedException" name="ProcessFailedException"/>

      </wsdl:operation>

      <wsdl:operation name="getSupportedAudioTypes">

         <wsdl:input message="impl:getSupportedAudioTypesRequest" name="getSupportedAudioTypesRequest"/>

         <wsdl:output message="impl:getSupportedAudioTypesResponse" name="getSupportedAudioTypesResponse"/>

         <wsdl:fault message="impl:ServiceNotFoundException" name="ServiceNotFoundException"/>

         <wsdl:fault message="impl:ServiceNotActiveException" name="ServiceNotActiveException"/>

         <wsdl:fault message="impl:NoValidEndpointsException" name="NoValidEndpointsException"/>

         <wsdl:fault message="impl:ServerBusyException" name="ServerBusyException"/>

         <wsdl:fault message="impl:ProcessFailedException" name="ProcessFailedException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SpeechRecognitionSoapBinding" type="impl:SpeechRecognitionService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getSupportedLanguages">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSupportedLanguagesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://mock.webapps.langrid.nict.go.jp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getSupportedLanguagesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/wrapper-mock/services/SpeechRecognition" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ServiceNotFoundException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceNotFoundException" namespace="http://localhost:8080/wrapper-mock/services/SpeechRecognition" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceNotActiveException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceNotActiveException" namespace="http://localhost:8080/wrapper-mock/services/SpeechRecognition" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoValidEndpointsException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoValidEndpointsException" namespace="http://localhost:8080/wrapper-mock/services/SpeechRecognition" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServerBusyException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServerBusyException" namespace="http://localhost:8080/wrapper-mock/services/SpeechRecognition" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ProcessFailedException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProcessFailedException" namespace="http://localhost:8080/wrapper-mock/services/SpeechRecognition" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="recognize">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="recognizeRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://mock.webapps.langrid.nict.go.jp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="recognizeResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/wrapper-mock/services/SpeechRecognition" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ServiceNotFoundException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceNotFoundException" namespace="http://localhost:8080/wrapper-mock/services/SpeechRecognition" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="UnsupportedLanguageException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UnsupportedLanguageException" namespace="http://localhost:8080/wrapper-mock/services/SpeechRecognition" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceNotActiveException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceNotActiveException" namespace="http://localhost:8080/wrapper-mock/services/SpeechRecognition" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoValidEndpointsException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoValidEndpointsException" namespace="http://localhost:8080/wrapper-mock/services/SpeechRecognition" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="InvalidParameterException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InvalidParameterException" namespace="http://localhost:8080/wrapper-mock/services/SpeechRecognition" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServerBusyException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServerBusyException" namespace="http://localhost:8080/wrapper-mock/services/SpeechRecognition" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AccessLimitExceededException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AccessLimitExceededException" namespace="http://localhost:8080/wrapper-mock/services/SpeechRecognition" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ProcessFailedException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProcessFailedException" namespace="http://localhost:8080/wrapper-mock/services/SpeechRecognition" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoAccessPermissionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoAccessPermissionException" namespace="http://localhost:8080/wrapper-mock/services/SpeechRecognition" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getSupportedVoiceTypes">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSupportedVoiceTypesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://mock.webapps.langrid.nict.go.jp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getSupportedVoiceTypesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/wrapper-mock/services/SpeechRecognition" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ServiceNotFoundException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceNotFoundException" namespace="http://localhost:8080/wrapper-mock/services/SpeechRecognition" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceNotActiveException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceNotActiveException" namespace="http://localhost:8080/wrapper-mock/services/SpeechRecognition" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoValidEndpointsException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoValidEndpointsException" namespace="http://localhost:8080/wrapper-mock/services/SpeechRecognition" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServerBusyException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServerBusyException" namespace="http://localhost:8080/wrapper-mock/services/SpeechRecognition" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ProcessFailedException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProcessFailedException" namespace="http://localhost:8080/wrapper-mock/services/SpeechRecognition" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getSupportedAudioTypes">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSupportedAudioTypesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://mock.webapps.langrid.nict.go.jp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getSupportedAudioTypesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/wrapper-mock/services/SpeechRecognition" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ServiceNotFoundException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceNotFoundException" namespace="http://localhost:8080/wrapper-mock/services/SpeechRecognition" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceNotActiveException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceNotActiveException" namespace="http://localhost:8080/wrapper-mock/services/SpeechRecognition" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoValidEndpointsException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoValidEndpointsException" namespace="http://localhost:8080/wrapper-mock/services/SpeechRecognition" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServerBusyException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServerBusyException" namespace="http://localhost:8080/wrapper-mock/services/SpeechRecognition" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ProcessFailedException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProcessFailedException" namespace="http://localhost:8080/wrapper-mock/services/SpeechRecognition" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SpeechRecognitionServiceService">

      <wsdl:port binding="impl:SpeechRecognitionSoapBinding" name="SpeechRecognition">

         <wsdlsoap:address location="http://localhost:8080/wrapper-mock/services/SpeechRecognition"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
