modules/jp.go.nict.langrid.client.ws_1_2.management/wsdls/ExternalServiceManagement.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://localhost:8080/langrid-1.2/services/ExternalServiceManagement" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://localhost:8080/langrid-1.2/services/ExternalServiceManagement" xmlns:intf="http://localhost:8080/langrid-1.2/services/ExternalServiceManagement" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://langrid.nict.go.jp/ws_1_2/foundation/servicemanagement" xmlns:tns2="http://langrid.nict.go.jp/ws_1_2/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDLはApache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)によって生成されました / [en]-(WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT))-->
 <wsdl:types>
  <schema targetNamespace="http://langrid.nict.go.jp/ws_1_2/foundation/servicemanagement" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://langrid.nict.go.jp/ws_1_2/"/>
   <import namespace="http://localhost:8080/langrid-1.2/services/ExternalServiceManagement"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="Endpoint">
    <sequence>
     <element name="enabled" type="xsd:boolean"/>
     <element name="password" nillable="true" type="xsd:string"/>
     <element name="url" nillable="true" type="xsd:string"/>
     <element name="userName" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="EndpointNotFoundException">
    <complexContent>
     <extension base="tns2:LangridException">
      <sequence>
       <element name="url" nillable="true" type="xsd:string"/>
       <element name="userName" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="http://localhost:8080/langrid-1.2/services/ExternalServiceManagement" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://langrid.nict.go.jp/ws_1_2/foundation/servicemanagement"/>
   <import namespace="http://langrid.nict.go.jp/ws_1_2/"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_tns1_Endpoint">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:Endpoint[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="http://langrid.nict.go.jp/ws_1_2/" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://langrid.nict.go.jp/ws_1_2/foundation/servicemanagement"/>
   <import namespace="http://localhost:8080/langrid-1.2/services/ExternalServiceManagement"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="LangridException">
    <sequence>
     <element name="description" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="AccessLimitExceededException">
    <complexContent>
     <extension base="tns2:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="InvalidParameterException">
    <complexContent>
     <extension base="tns2:LangridException">
      <sequence>
       <element name="parameterName" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="NoAccessPermissionException">
    <complexContent>
     <extension base="tns2:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ServiceConfigurationException">
    <complexContent>
     <extension base="tns2:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ServiceNotFoundException">
    <complexContent>
     <extension base="tns2:LangridException">
      <sequence>
       <element name="serviceId" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="UnknownException">
    <complexContent>
     <extension base="tns2:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="ServiceNotFoundException">

      <wsdl:part name="fault" type="tns2:ServiceNotFoundException"/>

   </wsdl:message>

   <wsdl:message name="deleteActualEndpointRequest">

      <wsdl:part name="serviceId" type="xsd:string"/>

      <wsdl:part name="url" type="xsd:string"/>

      <wsdl:part name="userName" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="NoAccessPermissionException">

      <wsdl:part name="fault" type="tns2:NoAccessPermissionException"/>

   </wsdl:message>

   <wsdl:message name="addActualEndpointResponse">

   </wsdl:message>

   <wsdl:message name="EndpointNotFoundException">

      <wsdl:part name="fault" type="tns1:EndpointNotFoundException"/>

   </wsdl:message>

   <wsdl:message name="enableActualEndpointResponse">

   </wsdl:message>

   <wsdl:message name="enableActualEndpointRequest">

      <wsdl:part name="serviceId" type="xsd:string"/>

      <wsdl:part name="url" type="xsd:string"/>

      <wsdl:part name="userName" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="ServiceConfigurationException">

      <wsdl:part name="fault" type="tns2:ServiceConfigurationException"/>

   </wsdl:message>

   <wsdl:message name="InvalidParameterException">

      <wsdl:part name="fault" type="tns2:InvalidParameterException"/>

   </wsdl:message>

   <wsdl:message name="UnknownException">

      <wsdl:part name="fault" type="tns2:UnknownException"/>

   </wsdl:message>

   <wsdl:message name="AccessLimitExceededException">

      <wsdl:part name="fault" type="tns2:AccessLimitExceededException"/>

   </wsdl:message>

   <wsdl:message name="listActualEndpointsResponse">

      <wsdl:part name="listActualEndpointsReturn" type="impl:ArrayOf_tns1_Endpoint"/>

   </wsdl:message>

   <wsdl:message name="deleteActualEndpointResponse">

   </wsdl:message>

   <wsdl:message name="disableActualEndpointRequest">

      <wsdl:part name="serviceId" type="xsd:string"/>

      <wsdl:part name="url" type="xsd:string"/>

      <wsdl:part name="userName" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="addActualEndpointRequest">

      <wsdl:part name="serviceId" type="xsd:string"/>

      <wsdl:part name="endpoint" type="tns1:Endpoint"/>

   </wsdl:message>

   <wsdl:message name="disableActualEndpointResponse">

   </wsdl:message>

   <wsdl:message name="listActualEndpointsRequest">

      <wsdl:part name="serviceId" type="xsd:string"/>

   </wsdl:message>

   <wsdl:portType name="ExternalServiceManagement">

      <wsdl:operation name="listActualEndpoints" parameterOrder="serviceId">

         <wsdl:input message="impl:listActualEndpointsRequest" name="listActualEndpointsRequest"/>

         <wsdl:output message="impl:listActualEndpointsResponse" name="listActualEndpointsResponse"/>

         <wsdl:fault message="impl:UnknownException" name="UnknownException"/>

         <wsdl:fault message="impl:ServiceNotFoundException" name="ServiceNotFoundException"/>

         <wsdl:fault message="impl:InvalidParameterException" name="InvalidParameterException"/>

         <wsdl:fault message="impl:AccessLimitExceededException" name="AccessLimitExceededException"/>

         <wsdl:fault message="impl:NoAccessPermissionException" name="NoAccessPermissionException"/>

         <wsdl:fault message="impl:ServiceConfigurationException" name="ServiceConfigurationException"/>

      </wsdl:operation>

      <wsdl:operation name="addActualEndpoint" parameterOrder="serviceId endpoint">

         <wsdl:input message="impl:addActualEndpointRequest" name="addActualEndpointRequest"/>

         <wsdl:output message="impl:addActualEndpointResponse" name="addActualEndpointResponse"/>

         <wsdl:fault message="impl:UnknownException" name="UnknownException"/>

         <wsdl:fault message="impl:ServiceNotFoundException" name="ServiceNotFoundException"/>

         <wsdl:fault message="impl:InvalidParameterException" name="InvalidParameterException"/>

         <wsdl:fault message="impl:AccessLimitExceededException" name="AccessLimitExceededException"/>

         <wsdl:fault message="impl:NoAccessPermissionException" name="NoAccessPermissionException"/>

         <wsdl:fault message="impl:ServiceConfigurationException" name="ServiceConfigurationException"/>

      </wsdl:operation>

      <wsdl:operation name="deleteActualEndpoint" parameterOrder="serviceId url userName">

         <wsdl:input message="impl:deleteActualEndpointRequest" name="deleteActualEndpointRequest"/>

         <wsdl:output message="impl:deleteActualEndpointResponse" name="deleteActualEndpointResponse"/>

         <wsdl:fault message="impl:UnknownException" name="UnknownException"/>

         <wsdl:fault message="impl:ServiceNotFoundException" name="ServiceNotFoundException"/>

         <wsdl:fault message="impl:InvalidParameterException" name="InvalidParameterException"/>

         <wsdl:fault message="impl:AccessLimitExceededException" name="AccessLimitExceededException"/>

         <wsdl:fault message="impl:NoAccessPermissionException" name="NoAccessPermissionException"/>

         <wsdl:fault message="impl:EndpointNotFoundException" name="EndpointNotFoundException"/>

         <wsdl:fault message="impl:ServiceConfigurationException" name="ServiceConfigurationException"/>

      </wsdl:operation>

      <wsdl:operation name="enableActualEndpoint" parameterOrder="serviceId url userName">

         <wsdl:input message="impl:enableActualEndpointRequest" name="enableActualEndpointRequest"/>

         <wsdl:output message="impl:enableActualEndpointResponse" name="enableActualEndpointResponse"/>

         <wsdl:fault message="impl:UnknownException" name="UnknownException"/>

         <wsdl:fault message="impl:ServiceNotFoundException" name="ServiceNotFoundException"/>

         <wsdl:fault message="impl:InvalidParameterException" name="InvalidParameterException"/>

         <wsdl:fault message="impl:AccessLimitExceededException" name="AccessLimitExceededException"/>

         <wsdl:fault message="impl:NoAccessPermissionException" name="NoAccessPermissionException"/>

         <wsdl:fault message="impl:EndpointNotFoundException" name="EndpointNotFoundException"/>

         <wsdl:fault message="impl:ServiceConfigurationException" name="ServiceConfigurationException"/>

      </wsdl:operation>

      <wsdl:operation name="disableActualEndpoint" parameterOrder="serviceId url userName">

         <wsdl:input message="impl:disableActualEndpointRequest" name="disableActualEndpointRequest"/>

         <wsdl:output message="impl:disableActualEndpointResponse" name="disableActualEndpointResponse"/>

         <wsdl:fault message="impl:UnknownException" name="UnknownException"/>

         <wsdl:fault message="impl:ServiceNotFoundException" name="ServiceNotFoundException"/>

         <wsdl:fault message="impl:InvalidParameterException" name="InvalidParameterException"/>

         <wsdl:fault message="impl:AccessLimitExceededException" name="AccessLimitExceededException"/>

         <wsdl:fault message="impl:NoAccessPermissionException" name="NoAccessPermissionException"/>

         <wsdl:fault message="impl:EndpointNotFoundException" name="EndpointNotFoundException"/>

         <wsdl:fault message="impl:ServiceConfigurationException" name="ServiceConfigurationException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ExternalServiceManagementSoapBinding" type="impl:ExternalServiceManagement">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="listActualEndpoints">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listActualEndpointsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://servicemanagement.foundation.langrid.nict.go.jp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="listActualEndpointsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/langrid-1.2/services/ExternalServiceManagement" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="UnknownException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UnknownException" namespace="http://localhost:8080/langrid-1.2/services/ExternalServiceManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceNotFoundException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceNotFoundException" namespace="http://localhost:8080/langrid-1.2/services/ExternalServiceManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="InvalidParameterException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InvalidParameterException" namespace="http://localhost:8080/langrid-1.2/services/ExternalServiceManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AccessLimitExceededException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AccessLimitExceededException" namespace="http://localhost:8080/langrid-1.2/services/ExternalServiceManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoAccessPermissionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoAccessPermissionException" namespace="http://localhost:8080/langrid-1.2/services/ExternalServiceManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceConfigurationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceConfigurationException" namespace="http://localhost:8080/langrid-1.2/services/ExternalServiceManagement" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="addActualEndpoint">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addActualEndpointRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://servicemanagement.foundation.langrid.nict.go.jp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addActualEndpointResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/langrid-1.2/services/ExternalServiceManagement" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="UnknownException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UnknownException" namespace="http://localhost:8080/langrid-1.2/services/ExternalServiceManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceNotFoundException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceNotFoundException" namespace="http://localhost:8080/langrid-1.2/services/ExternalServiceManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="InvalidParameterException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InvalidParameterException" namespace="http://localhost:8080/langrid-1.2/services/ExternalServiceManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AccessLimitExceededException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AccessLimitExceededException" namespace="http://localhost:8080/langrid-1.2/services/ExternalServiceManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoAccessPermissionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoAccessPermissionException" namespace="http://localhost:8080/langrid-1.2/services/ExternalServiceManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceConfigurationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceConfigurationException" namespace="http://localhost:8080/langrid-1.2/services/ExternalServiceManagement" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="deleteActualEndpoint">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteActualEndpointRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://servicemanagement.foundation.langrid.nict.go.jp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="deleteActualEndpointResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/langrid-1.2/services/ExternalServiceManagement" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="UnknownException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UnknownException" namespace="http://localhost:8080/langrid-1.2/services/ExternalServiceManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceNotFoundException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceNotFoundException" namespace="http://localhost:8080/langrid-1.2/services/ExternalServiceManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="InvalidParameterException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InvalidParameterException" namespace="http://localhost:8080/langrid-1.2/services/ExternalServiceManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AccessLimitExceededException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AccessLimitExceededException" namespace="http://localhost:8080/langrid-1.2/services/ExternalServiceManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoAccessPermissionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoAccessPermissionException" namespace="http://localhost:8080/langrid-1.2/services/ExternalServiceManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="EndpointNotFoundException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="EndpointNotFoundException" namespace="http://localhost:8080/langrid-1.2/services/ExternalServiceManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceConfigurationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceConfigurationException" namespace="http://localhost:8080/langrid-1.2/services/ExternalServiceManagement" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="enableActualEndpoint">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="enableActualEndpointRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://servicemanagement.foundation.langrid.nict.go.jp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="enableActualEndpointResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/langrid-1.2/services/ExternalServiceManagement" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="UnknownException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UnknownException" namespace="http://localhost:8080/langrid-1.2/services/ExternalServiceManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceNotFoundException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceNotFoundException" namespace="http://localhost:8080/langrid-1.2/services/ExternalServiceManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="InvalidParameterException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InvalidParameterException" namespace="http://localhost:8080/langrid-1.2/services/ExternalServiceManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AccessLimitExceededException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AccessLimitExceededException" namespace="http://localhost:8080/langrid-1.2/services/ExternalServiceManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoAccessPermissionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoAccessPermissionException" namespace="http://localhost:8080/langrid-1.2/services/ExternalServiceManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="EndpointNotFoundException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="EndpointNotFoundException" namespace="http://localhost:8080/langrid-1.2/services/ExternalServiceManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceConfigurationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceConfigurationException" namespace="http://localhost:8080/langrid-1.2/services/ExternalServiceManagement" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="disableActualEndpoint">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="disableActualEndpointRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://servicemanagement.foundation.langrid.nict.go.jp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="disableActualEndpointResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/langrid-1.2/services/ExternalServiceManagement" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="UnknownException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UnknownException" namespace="http://localhost:8080/langrid-1.2/services/ExternalServiceManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceNotFoundException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceNotFoundException" namespace="http://localhost:8080/langrid-1.2/services/ExternalServiceManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="InvalidParameterException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InvalidParameterException" namespace="http://localhost:8080/langrid-1.2/services/ExternalServiceManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AccessLimitExceededException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AccessLimitExceededException" namespace="http://localhost:8080/langrid-1.2/services/ExternalServiceManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoAccessPermissionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoAccessPermissionException" namespace="http://localhost:8080/langrid-1.2/services/ExternalServiceManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="EndpointNotFoundException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="EndpointNotFoundException" namespace="http://localhost:8080/langrid-1.2/services/ExternalServiceManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceConfigurationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceConfigurationException" namespace="http://localhost:8080/langrid-1.2/services/ExternalServiceManagement" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ExternalServiceManagementService">

      <wsdl:port binding="impl:ExternalServiceManagementSoapBinding" name="ExternalServiceManagement">

         <wsdlsoap:address location="http://localhost:8080/langrid-1.2/services/ExternalServiceManagement"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>