modules/jp.go.nict.langrid.client.ws_1_2.management/wsdls/ServiceAccessLimitManagement.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://localhost:8080/langrid-1.2/services/ServiceAccessLimitManagement" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://localhost:8080/langrid-1.2/services/ServiceAccessLimitManagement" xmlns:intf="http://localhost:8080/langrid-1.2/services/ServiceAccessLimitManagement" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://langrid.nict.go.jp/ws_1_2/" xmlns:tns2="http://langrid.nict.go.jp/ws_1_2/foundation/serviceaccesslimitmanagement/" xmlns:tns3="http://langrid.nict.go.jp/ws_1_2/foundation/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDLはApache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)によって生成されました / [en]-(WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT))-->
 <wsdl:types>
  <schema targetNamespace="http://langrid.nict.go.jp/ws_1_2/" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://localhost:8080/langrid-1.2/services/ServiceAccessLimitManagement"/>
   <import namespace="http://langrid.nict.go.jp/ws_1_2/foundation/"/>
   <import namespace="http://langrid.nict.go.jp/ws_1_2/foundation/serviceaccesslimitmanagement/"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="LangridException">
    <sequence>
     <element name="description" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="AccessLimitExceededException">
    <complexContent>
     <extension base="tns1:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="NoAccessPermissionException">
    <complexContent>
     <extension base="tns1:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ServiceConfigurationException">
    <complexContent>
     <extension base="tns1:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="UnknownException">
    <complexContent>
     <extension base="tns1:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="InvalidParameterException">
    <complexContent>
     <extension base="tns1:LangridException">
      <sequence>
       <element name="parameterName" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="http://langrid.nict.go.jp/ws_1_2/foundation/serviceaccesslimitmanagement/" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://localhost:8080/langrid-1.2/services/ServiceAccessLimitManagement"/>
   <import namespace="http://langrid.nict.go.jp/ws_1_2/foundation/"/>
   <import namespace="http://langrid.nict.go.jp/ws_1_2/"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="AccessLimitNotFoundException">
    <complexContent>
     <extension base="tns1:LangridException">
      <sequence>
       <element name="limitType" nillable="true" type="xsd:string"/>
       <element name="period" nillable="true" type="xsd:string"/>
       <element name="serviceId" nillable="true" type="xsd:string"/>
       <element name="userId" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="AccessLimit">
    <sequence>
     <element name="limitCount" type="xsd:int"/>
     <element name="limitType" nillable="true" type="xsd:string"/>
     <element name="period" nillable="true" type="xsd:string"/>
     <element name="serviceId" nillable="true" type="xsd:string"/>
     <element name="userId" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="AccessLimitSearchResult">
    <complexContent>
     <extension base="tns3:SearchResult">
      <sequence>
       <element name="elements" nillable="true" type="impl:ArrayOf_tns2_AccessLimit"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="http://langrid.nict.go.jp/ws_1_2/foundation/" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://localhost:8080/langrid-1.2/services/ServiceAccessLimitManagement"/>
   <import namespace="http://langrid.nict.go.jp/ws_1_2/"/>
   <import namespace="http://langrid.nict.go.jp/ws_1_2/foundation/serviceaccesslimitmanagement/"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="Order">
    <sequence>
     <element name="direction" nillable="true" type="xsd:string"/>
     <element name="fieldName" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="SearchResult">
    <sequence>
     <element name="totalCount" type="xsd:int"/>
     <element name="totalCountFixed" type="xsd:boolean"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="http://localhost:8080/langrid-1.2/services/ServiceAccessLimitManagement" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://langrid.nict.go.jp/ws_1_2/foundation/"/>
   <import namespace="http://langrid.nict.go.jp/ws_1_2/"/>
   <import namespace="http://langrid.nict.go.jp/ws_1_2/foundation/serviceaccesslimitmanagement/"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_tns3_Order">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns3:Order[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns2_AccessLimit">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:AccessLimit[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="ServiceConfigurationException">

      <wsdl:part name="fault" type="tns1:ServiceConfigurationException"/>

   </wsdl:message>

   <wsdl:message name="setAccessLimitRequest">

      <wsdl:part name="userId" type="xsd:string"/>

      <wsdl:part name="serviceId" type="xsd:string"/>

      <wsdl:part name="period" type="xsd:string"/>

      <wsdl:part name="limitType" type="xsd:string"/>

      <wsdl:part name="limitCount" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="clearRequest">

   </wsdl:message>

   <wsdl:message name="getMyAccessLimitsResponse">

      <wsdl:part name="getMyAccessLimitsReturn" type="impl:ArrayOf_tns2_AccessLimit"/>

   </wsdl:message>

   <wsdl:message name="NoAccessPermissionException">

      <wsdl:part name="fault" type="tns1:NoAccessPermissionException"/>

   </wsdl:message>

   <wsdl:message name="deleteAccessLimitResponse">

   </wsdl:message>

   <wsdl:message name="setAccessLimitResponse">

   </wsdl:message>

   <wsdl:message name="getMyAccessLimitsRequest">

      <wsdl:part name="serviceId" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="AccessLimitNotFoundException">

      <wsdl:part name="fault" type="tns2:AccessLimitNotFoundException"/>

   </wsdl:message>

   <wsdl:message name="clearResponse">

   </wsdl:message>

   <wsdl:message name="deleteAccessLimitRequest">

      <wsdl:part name="userId" type="xsd:string"/>

      <wsdl:part name="serviceId" type="xsd:string"/>

      <wsdl:part name="period" type="xsd:string"/>

      <wsdl:part name="limitType" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="searchAccessLimitsRequest">

      <wsdl:part name="startIndex" type="xsd:int"/>

      <wsdl:part name="maxCount" type="xsd:int"/>

      <wsdl:part name="userId" type="xsd:string"/>

      <wsdl:part name="serviceId" type="xsd:string"/>

      <wsdl:part name="orders" type="impl:ArrayOf_tns3_Order"/>

   </wsdl:message>

   <wsdl:message name="searchAccessLimitsResponse">

      <wsdl:part name="searchAccessLimitsReturn" type="tns2:AccessLimitSearchResult"/>

   </wsdl:message>

   <wsdl:message name="AccessLimitExceededException">

      <wsdl:part name="fault" type="tns1:AccessLimitExceededException"/>

   </wsdl:message>

   <wsdl:message name="InvalidParameterException">

      <wsdl:part name="fault" type="tns1:InvalidParameterException"/>

   </wsdl:message>

   <wsdl:message name="UnknownException">

      <wsdl:part name="fault" type="tns1:UnknownException"/>

   </wsdl:message>

   <wsdl:portType name="ServiceAccessLimitManagement">

      <wsdl:operation name="clear">

         <wsdl:input message="impl:clearRequest" name="clearRequest"/>

         <wsdl:output message="impl:clearResponse" name="clearResponse"/>

         <wsdl:fault message="impl:UnknownException" name="UnknownException"/>

         <wsdl:fault message="impl:AccessLimitExceededException" name="AccessLimitExceededException"/>

         <wsdl:fault message="impl:NoAccessPermissionException" name="NoAccessPermissionException"/>

         <wsdl:fault message="impl:ServiceConfigurationException" name="ServiceConfigurationException"/>

      </wsdl:operation>

      <wsdl:operation name="setAccessLimit" parameterOrder="userId serviceId period limitType limitCount">

         <wsdl:input message="impl:setAccessLimitRequest" name="setAccessLimitRequest"/>

         <wsdl:output message="impl:setAccessLimitResponse" name="setAccessLimitResponse"/>

         <wsdl:fault message="impl:UnknownException" name="UnknownException"/>

         <wsdl:fault message="impl:InvalidParameterException" name="InvalidParameterException"/>

         <wsdl:fault message="impl:AccessLimitExceededException" name="AccessLimitExceededException"/>

         <wsdl:fault message="impl:NoAccessPermissionException" name="NoAccessPermissionException"/>

         <wsdl:fault message="impl:ServiceConfigurationException" name="ServiceConfigurationException"/>

      </wsdl:operation>

      <wsdl:operation name="deleteAccessLimit" parameterOrder="userId serviceId period limitType">

         <wsdl:input message="impl:deleteAccessLimitRequest" name="deleteAccessLimitRequest"/>

         <wsdl:output message="impl:deleteAccessLimitResponse" name="deleteAccessLimitResponse"/>

         <wsdl:fault message="impl:UnknownException" name="UnknownException"/>

         <wsdl:fault message="impl:InvalidParameterException" name="InvalidParameterException"/>

         <wsdl:fault message="impl:AccessLimitNotFoundException" name="AccessLimitNotFoundException"/>

         <wsdl:fault message="impl:AccessLimitExceededException" name="AccessLimitExceededException"/>

         <wsdl:fault message="impl:NoAccessPermissionException" name="NoAccessPermissionException"/>

         <wsdl:fault message="impl:ServiceConfigurationException" name="ServiceConfigurationException"/>

      </wsdl:operation>

      <wsdl:operation name="searchAccessLimits" parameterOrder="startIndex maxCount userId serviceId orders">

         <wsdl:input message="impl:searchAccessLimitsRequest" name="searchAccessLimitsRequest"/>

         <wsdl:output message="impl:searchAccessLimitsResponse" name="searchAccessLimitsResponse"/>

         <wsdl:fault message="impl:UnknownException" name="UnknownException"/>

         <wsdl:fault message="impl:InvalidParameterException" name="InvalidParameterException"/>

         <wsdl:fault message="impl:AccessLimitExceededException" name="AccessLimitExceededException"/>

         <wsdl:fault message="impl:NoAccessPermissionException" name="NoAccessPermissionException"/>

         <wsdl:fault message="impl:ServiceConfigurationException" name="ServiceConfigurationException"/>

      </wsdl:operation>

      <wsdl:operation name="getMyAccessLimits" parameterOrder="serviceId">

         <wsdl:input message="impl:getMyAccessLimitsRequest" name="getMyAccessLimitsRequest"/>

         <wsdl:output message="impl:getMyAccessLimitsResponse" name="getMyAccessLimitsResponse"/>

         <wsdl:fault message="impl:UnknownException" name="UnknownException"/>

         <wsdl:fault message="impl:InvalidParameterException" name="InvalidParameterException"/>

         <wsdl:fault message="impl:AccessLimitExceededException" name="AccessLimitExceededException"/>

         <wsdl:fault message="impl:NoAccessPermissionException" name="NoAccessPermissionException"/>

         <wsdl:fault message="impl:ServiceConfigurationException" name="ServiceConfigurationException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ServiceAccessLimitManagementSoapBinding" type="impl:ServiceAccessLimitManagement">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="clear">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="clearRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://serviceaccesslimitmanagement.foundation.langrid.nict.go.jp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="clearResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/langrid-1.2/services/ServiceAccessLimitManagement" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="UnknownException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UnknownException" namespace="http://localhost:8080/langrid-1.2/services/ServiceAccessLimitManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AccessLimitExceededException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AccessLimitExceededException" namespace="http://localhost:8080/langrid-1.2/services/ServiceAccessLimitManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoAccessPermissionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoAccessPermissionException" namespace="http://localhost:8080/langrid-1.2/services/ServiceAccessLimitManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceConfigurationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceConfigurationException" namespace="http://localhost:8080/langrid-1.2/services/ServiceAccessLimitManagement" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="setAccessLimit">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setAccessLimitRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://serviceaccesslimitmanagement.foundation.langrid.nict.go.jp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="setAccessLimitResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/langrid-1.2/services/ServiceAccessLimitManagement" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="UnknownException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UnknownException" namespace="http://localhost:8080/langrid-1.2/services/ServiceAccessLimitManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="InvalidParameterException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InvalidParameterException" namespace="http://localhost:8080/langrid-1.2/services/ServiceAccessLimitManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AccessLimitExceededException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AccessLimitExceededException" namespace="http://localhost:8080/langrid-1.2/services/ServiceAccessLimitManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoAccessPermissionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoAccessPermissionException" namespace="http://localhost:8080/langrid-1.2/services/ServiceAccessLimitManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceConfigurationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceConfigurationException" namespace="http://localhost:8080/langrid-1.2/services/ServiceAccessLimitManagement" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="deleteAccessLimit">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteAccessLimitRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://serviceaccesslimitmanagement.foundation.langrid.nict.go.jp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="deleteAccessLimitResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/langrid-1.2/services/ServiceAccessLimitManagement" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="UnknownException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UnknownException" namespace="http://localhost:8080/langrid-1.2/services/ServiceAccessLimitManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="InvalidParameterException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InvalidParameterException" namespace="http://localhost:8080/langrid-1.2/services/ServiceAccessLimitManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AccessLimitNotFoundException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AccessLimitNotFoundException" namespace="http://localhost:8080/langrid-1.2/services/ServiceAccessLimitManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AccessLimitExceededException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AccessLimitExceededException" namespace="http://localhost:8080/langrid-1.2/services/ServiceAccessLimitManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoAccessPermissionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoAccessPermissionException" namespace="http://localhost:8080/langrid-1.2/services/ServiceAccessLimitManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceConfigurationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceConfigurationException" namespace="http://localhost:8080/langrid-1.2/services/ServiceAccessLimitManagement" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="searchAccessLimits">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchAccessLimitsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://serviceaccesslimitmanagement.foundation.langrid.nict.go.jp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="searchAccessLimitsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/langrid-1.2/services/ServiceAccessLimitManagement" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="UnknownException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UnknownException" namespace="http://localhost:8080/langrid-1.2/services/ServiceAccessLimitManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="InvalidParameterException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InvalidParameterException" namespace="http://localhost:8080/langrid-1.2/services/ServiceAccessLimitManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AccessLimitExceededException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AccessLimitExceededException" namespace="http://localhost:8080/langrid-1.2/services/ServiceAccessLimitManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoAccessPermissionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoAccessPermissionException" namespace="http://localhost:8080/langrid-1.2/services/ServiceAccessLimitManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceConfigurationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceConfigurationException" namespace="http://localhost:8080/langrid-1.2/services/ServiceAccessLimitManagement" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getMyAccessLimits">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getMyAccessLimitsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://serviceaccesslimitmanagement.foundation.langrid.nict.go.jp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getMyAccessLimitsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/langrid-1.2/services/ServiceAccessLimitManagement" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="UnknownException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UnknownException" namespace="http://localhost:8080/langrid-1.2/services/ServiceAccessLimitManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="InvalidParameterException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InvalidParameterException" namespace="http://localhost:8080/langrid-1.2/services/ServiceAccessLimitManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AccessLimitExceededException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AccessLimitExceededException" namespace="http://localhost:8080/langrid-1.2/services/ServiceAccessLimitManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoAccessPermissionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoAccessPermissionException" namespace="http://localhost:8080/langrid-1.2/services/ServiceAccessLimitManagement" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceConfigurationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceConfigurationException" namespace="http://localhost:8080/langrid-1.2/services/ServiceAccessLimitManagement" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ServiceAccessLimitManagementService">

      <wsdl:port binding="impl:ServiceAccessLimitManagementSoapBinding" name="ServiceAccessLimitManagement">

         <wsdlsoap:address location="http://localhost:8080/langrid-1.2/services/ServiceAccessLimitManagement"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>